USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[TRABAJADOR_CONTRATISTA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRABAJADOR_CONTRATISTA](
	[id_trabajador_contratista] [int] IDENTITY(1,1) NOT NULL,
	[id_contratista] [int] NULL,
	[NumeroDocumento] [nvarchar](20) NOT NULL,
	[NombreCompleto] [nvarchar](200) NOT NULL,
	[Cargo] [nvarchar](100) NULL,
	[ARL] [nvarchar](100) NULL,
	[FechaIngresoObra] [date] NOT NULL,
	[FechaRetiroObra] [date] NULL,
	[InduccionSST_Realizada] [bit] NULL,
	[FechaInduccion] [date] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_trabajador_contratista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRABAJADOR_CONTRATISTA] ADD  DEFAULT ((0)) FOR [InduccionSST_Realizada]
GO
ALTER TABLE [dbo].[TRABAJADOR_CONTRATISTA] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[TRABAJADOR_CONTRATISTA]  WITH CHECK ADD FOREIGN KEY([id_contratista])
REFERENCES [dbo].[CONTRATISTA] ([id_contratista])
GO
