USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EMPLEADO_ROL]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO_ROL](
	[id_empleado] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
	[FechaAsignacion] [date] NULL,
	[FechaFinalizacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMPLEADO_ROL] ([id_empleado], [id_rol], [FechaAsignacion], [FechaFinalizacion]) VALUES (100, 1, CAST(N'2025-11-14' AS Date), NULL)
INSERT [dbo].[EMPLEADO_ROL] ([id_empleado], [id_rol], [FechaAsignacion], [FechaFinalizacion]) VALUES (101, 2, CAST(N'2025-11-14' AS Date), NULL)
GO
ALTER TABLE [dbo].[EMPLEADO_ROL] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[EMPLEADO_ROL]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EMPLEADO_ROL]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id_rol])
GO
