USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Contexto_Agente]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 9: Obtener Contexto para el Agente
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Obtener_Contexto_Agente]
    @CorreoUsuario NVARCHAR(150),
    @UltimasN INT = 5
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@UltimasN)
        CA.id_conversacion,
        CA.Asunto,
        CA.FechaHoraRecepcion,
        CA.TipoSolicitud,
        CA.ContenidoOriginal,
        CA.InterpretacionAgente,
        CA.RespuestaGenerada,
        CA.AccionesRealizadas,
        CA.ConfianzaRespuesta
    FROM CONVERSACION_AGENTE CA
    WHERE CA.CorreoOrigen = @CorreoUsuario
    AND CA.Estado = 'Procesada'
    ORDER BY CA.FechaHoraRecepcion DESC;
END
GO
