USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[AUSENTISMO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUSENTISMO](
	[id_ausentismo] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NULL,
	[TipoAusentismo] [nvarchar](50) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[DiasAusentismo] [int] NULL,
	[DiagnosticoCIE10] [nvarchar](10) NULL,
	[DescripcionDiagnostico] [nvarchar](200) NULL,
	[RutaSoporte] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ausentismo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUSENTISMO]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[AUSENTISMO]  WITH CHECK ADD CHECK  (([TipoAusentismo]='Calamidad' OR [TipoAusentismo]='Licencia' OR [TipoAusentismo]='Enfermedad Laboral' OR [TipoAusentismo]='Accidente de Trabajo' OR [TipoAusentismo]='Enfermedad Común'))
GO
