USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[PLANTILLA_DOCUMENTO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTILLA_DOCUMENTO](
	[id_plantilla] [int] IDENTITY(1,1) NOT NULL,
	[NombrePlantilla] [nvarchar](200) NOT NULL,
	[TipoDocumento] [nvarchar](100) NOT NULL,
	[CategoriaSGSST] [nvarchar](100) NULL,
	[RutaPlantilla] [nvarchar](500) NOT NULL,
	[Formato] [nvarchar](20) NOT NULL,
	[VariablesDisponibles] [nvarchar](max) NULL,
	[Activa] [bit] NULL,
	[FechaCreacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plantilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PLANTILLA_DOCUMENTO] ON 

INSERT [dbo].[PLANTILLA_DOCUMENTO] ([id_plantilla], [NombrePlantilla], [TipoDocumento], [CategoriaSGSST], [RutaPlantilla], [Formato], [VariablesDisponibles], [Activa], [FechaCreacion]) VALUES (1, N'Acta de Reunión COPASST', N'Acta', N'COPASST', N'/plantillas/acta_copasst.docx', N'Word', NULL, 1, CAST(N'2025-11-14' AS Date))
INSERT [dbo].[PLANTILLA_DOCUMENTO] ([id_plantilla], [NombrePlantilla], [TipoDocumento], [CategoriaSGSST], [RutaPlantilla], [Formato], [VariablesDisponibles], [Activa], [FechaCreacion]) VALUES (2, N'Reporte de Accidente de Trabajo', N'Formato', N'Eventos', N'/plantillas/reporte_accidente.docx', N'Word', NULL, 1, CAST(N'2025-11-14' AS Date))
INSERT [dbo].[PLANTILLA_DOCUMENTO] ([id_plantilla], [NombrePlantilla], [TipoDocumento], [CategoriaSGSST], [RutaPlantilla], [Formato], [VariablesDisponibles], [Activa], [FechaCreacion]) VALUES (3, N'Informe de Auditoría Interna', N'Reporte', N'Auditorías', N'/plantillas/informe_auditoria.docx', N'Word', NULL, 1, CAST(N'2025-11-14' AS Date))
SET IDENTITY_INSERT [dbo].[PLANTILLA_DOCUMENTO] OFF
GO
ALTER TABLE [dbo].[PLANTILLA_DOCUMENTO] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[PLANTILLA_DOCUMENTO] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PLANTILLA_DOCUMENTO]  WITH CHECK ADD CHECK  (([Formato]='HTML' OR [Formato]='PDF' OR [Formato]='Excel' OR [Formato]='Word'))
GO
