USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[REUNION_COMITE]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REUNION_COMITE](
	[id_reunion] [int] IDENTITY(1,1) NOT NULL,
	[id_comite] [int] NULL,
	[NumeroReunion] [int] NOT NULL,
	[FechaReunion] [date] NOT NULL,
	[TipoReunion] [nvarchar](50) NOT NULL,
	[Asistentes] [nvarchar](max) NULL,
	[TemasDiscutidos] [nvarchar](max) NULL,
	[Acuerdos] [nvarchar](max) NULL,
	[RutaActa] [nvarchar](500) NULL,
	[ProximaReunion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reunion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[REUNION_COMITE]  WITH CHECK ADD FOREIGN KEY([id_comite])
REFERENCES [dbo].[COMITE] ([id_comite])
GO
ALTER TABLE [dbo].[REUNION_COMITE]  WITH CHECK ADD CHECK  (([TipoReunion]='Extraordinaria' OR [TipoReunion]='Ordinaria'))
GO
