USE [SG_SST_AgenteInteligente]
GO
/****** Object:  View [dbo].[VW_Empleados_Activos]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- VISTA 1: Empleados Activos con Información Completa
-- ============================================================
CREATE   VIEW [dbo].[VW_Empleados_Activos] AS
SELECT 
    E.id_empleado,
    E.NumeroDocumento,
    E.Nombre + ' ' + E.Apellidos AS NombreCompleto,
    E.Nombre,
    E.Apellidos,
    E.Cargo,
    E.Area,
    E.Correo,
    E.Telefono,
    E.TipoContrato,
    E.Nivel_Riesgo_Laboral,
    S.NombreSede,
    S.Ciudad,
    S.Departamento,
    E.Fecha_Ingreso,
    DATEDIFF(YEAR, E.Fecha_Ingreso, GETDATE()) AS AniosAntiguedad,
    E.ContactoEmergencia,
    E.TelefonoEmergencia,
    SUP.Nombre + ' ' + SUP.Apellidos AS Supervisor
FROM EMPLEADO E
INNER JOIN SEDE S ON E.id_sede = S.id_sede
LEFT JOIN EMPLEADO SUP ON E.id_supervisor = SUP.id_empleado
WHERE E.Estado = 1;
GO
