USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[ASISTENCIA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIA](
	[id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NULL,
	[id_capacitacion] [int] NULL,
	[Asistio] [bit] NOT NULL,
	[Calificacion] [decimal](3, 1) NULL,
	[Aprobo] [bit] NULL,
	[Observaciones] [nvarchar](500) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ASISTENC__2711624CD2B2D2B5]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[ASISTENCIA] ADD UNIQUE NONCLUSTERED 
(
	[id_empleado] ASC,
	[id_capacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASISTENCIA] ADD  DEFAULT ((1)) FOR [Asistio]
GO
ALTER TABLE [dbo].[ASISTENCIA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD FOREIGN KEY([id_capacitacion])
REFERENCES [dbo].[CAPACITACION] ([id_capacitacion])
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
/****** Object:  Trigger [dbo].[TR_ASISTENCIA_ValidarCapacidad]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 14: Validar capacidad máxima de asistentes (Advertencia)
-- ============================================================
CREATE   TRIGGER [dbo].[TR_ASISTENCIA_ValidarCapacidad]
ON [dbo].[ASISTENCIA]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- No usar RAISERROR, solo imprimir mensaje de advertencia o crear una alerta de sistema
    DECLARE @IdCapacitacion INT;
    DECLARE @TotalAsistentes INT;
    
    SELECT @IdCapacitacion = id_capacitacion FROM inserted;
    
    SELECT @TotalAsistentes = COUNT(*) 
    FROM ASISTENCIA 
    WHERE id_capacitacion = @IdCapacitacion;
    
    IF @TotalAsistentes > 50
    BEGIN
        PRINT 'ADVERTENCIA: La capacitación ' + CAST(@IdCapacitacion AS VARCHAR) + ' tiene más de 50 asistentes registrados.';
    END
END
GO
ALTER TABLE [dbo].[ASISTENCIA] ENABLE TRIGGER [TR_ASISTENCIA_ValidarCapacidad]
GO
