USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EQUIPO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPO](
	[id_equipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Tipo] [nvarchar](100) NOT NULL,
	[CodigoInterno] [nvarchar](50) NULL,
	[Marca] [nvarchar](100) NULL,
	[Modelo] [nvarchar](100) NULL,
	[NumeroSerie] [nvarchar](100) NULL,
	[id_sede] [int] NULL,
	[UbicacionEspecifica] [nvarchar](200) NULL,
	[Responsable] [int] NULL,
	[FechaAdquisicion] [date] NULL,
	[FechaUltimoMantenimiento] [date] NULL,
	[FechaProximoMantenimiento] [date] NULL,
	[RequiereCalibacion] [bit] NULL,
	[FechaProximaCalibracion] [date] NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EQUIPO] ON 

INSERT [dbo].[EQUIPO] ([id_equipo], [Nombre], [Tipo], [CodigoInterno], [Marca], [Modelo], [NumeroSerie], [id_sede], [UbicacionEspecifica], [Responsable], [FechaAdquisicion], [FechaUltimoMantenimiento], [FechaProximoMantenimiento], [RequiereCalibacion], [FechaProximaCalibracion], [Estado]) VALUES (4, N'Extintor PQS 10 lb - Recepción', N'Extintores', N'EXT-001', NULL, NULL, NULL, 1, N'Área de recepción principal', 101, CAST(N'2023-01-15' AS Date), CAST(N'2024-01-15' AS Date), CAST(N'2025-01-15' AS Date), 0, NULL, N'Operativo')
INSERT [dbo].[EQUIPO] ([id_equipo], [Nombre], [Tipo], [CodigoInterno], [Marca], [Modelo], [NumeroSerie], [id_sede], [UbicacionEspecifica], [Responsable], [FechaAdquisicion], [FechaUltimoMantenimiento], [FechaProximoMantenimiento], [RequiereCalibacion], [FechaProximaCalibracion], [Estado]) VALUES (5, N'Extintor CO2 20 lb - Sistemas', N'Extintores', N'EXT-002', NULL, NULL, NULL, 1, N'Cuarto de servidores', 101, CAST(N'2023-01-15' AS Date), CAST(N'2024-01-15' AS Date), CAST(N'2025-01-15' AS Date), 0, NULL, N'Operativo')
INSERT [dbo].[EQUIPO] ([id_equipo], [Nombre], [Tipo], [CodigoInterno], [Marca], [Modelo], [NumeroSerie], [id_sede], [UbicacionEspecifica], [Responsable], [FechaAdquisicion], [FechaUltimoMantenimiento], [FechaProximoMantenimiento], [RequiereCalibacion], [FechaProximaCalibracion], [Estado]) VALUES (6, N'Botiquín Tipo A - Oficinas', N'Botiquín', N'BOT-001', NULL, NULL, NULL, 1, N'Área administrativa piso 4', 101, CAST(N'2023-06-01' AS Date), CAST(N'2024-06-01' AS Date), CAST(N'2025-06-01' AS Date), 0, NULL, N'Operativo')
SET IDENTITY_INSERT [dbo].[EQUIPO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EQUIPO__28C92875828CC90D]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[EQUIPO] ADD UNIQUE NONCLUSTERED 
(
	[CodigoInterno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Equipo_Tipo]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Equipo_Tipo] ON [dbo].[EQUIPO]
(
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EQUIPO] ADD  DEFAULT ((0)) FOR [RequiereCalibacion]
GO
ALTER TABLE [dbo].[EQUIPO] ADD  DEFAULT ('Operativo') FOR [Estado]
GO
ALTER TABLE [dbo].[EQUIPO]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDE] ([id_sede])
GO
ALTER TABLE [dbo].[EQUIPO]  WITH CHECK ADD FOREIGN KEY([Responsable])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EQUIPO]  WITH CHECK ADD CHECK  (([Estado]='Dado de Baja' OR [Estado]='Fuera de Servicio' OR [Estado]='En Mantenimiento' OR [Estado]='Operativo'))
GO
ALTER TABLE [dbo].[EQUIPO]  WITH CHECK ADD CHECK  (([Tipo]='Sistema Emergencia' OR [Tipo]='Vehículo' OR [Tipo]='Herramienta' OR [Tipo]='Maquinaria' OR [Tipo]='Camilla' OR [Tipo]='Botiquín' OR [Tipo]='Extintores'))
GO
