USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[PLAN_TRABAJO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_TRABAJO](
	[id_plan] [int] IDENTITY(1,1) NOT NULL,
	[Anio] [int] NOT NULL,
	[FechaElaboracion] [date] NOT NULL,
	[ElaboradoPor] [int] NULL,
	[AprobadoPor] [int] NULL,
	[FechaAprobacion] [date] NULL,
	[PresupuestoAsignado] [decimal](15, 2) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PLAN_TRABAJO] ON 

INSERT [dbo].[PLAN_TRABAJO] ([id_plan], [Anio], [FechaElaboracion], [ElaboradoPor], [AprobadoPor], [FechaAprobacion], [PresupuestoAsignado], [Estado]) VALUES (1, 2024, CAST(N'2023-12-01' AS Date), 101, 100, CAST(N'2023-12-15' AS Date), CAST(50000000.00 AS Decimal(15, 2)), N'Vigente')
SET IDENTITY_INSERT [dbo].[PLAN_TRABAJO] OFF
GO
ALTER TABLE [dbo].[PLAN_TRABAJO] ADD  DEFAULT ('Vigente') FOR [Estado]
GO
ALTER TABLE [dbo].[PLAN_TRABAJO]  WITH CHECK ADD FOREIGN KEY([AprobadoPor])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[PLAN_TRABAJO]  WITH CHECK ADD FOREIGN KEY([ElaboradoPor])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[PLAN_TRABAJO]  WITH CHECK ADD CHECK  (([Estado]='Cerrado' OR [Estado]='Vigente' OR [Estado]='Borrador'))
GO
/****** Object:  Trigger [dbo].[TR_PLAN_TRABAJO_CerrarAnio]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 15: Actualizar estado de PLAN_TRABAJO al cierre del año
-- ============================================================
CREATE   TRIGGER [dbo].[TR_PLAN_TRABAJO_CerrarAnio]
ON [dbo].[PLAN_TRABAJO]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Cerrar automáticamente planes del año anterior (Vigente -> Cerrado)
    UPDATE PT
    SET Estado = 'Cerrado'
    FROM PLAN_TRABAJO PT
    INNER JOIN inserted i ON PT.id_plan = i.id_plan
    WHERE PT.Anio < YEAR(GETDATE())
    AND PT.Estado = 'Vigente';
END
GO
ALTER TABLE [dbo].[PLAN_TRABAJO] ENABLE TRIGGER [TR_PLAN_TRABAJO_CerrarAnio]
GO
