USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EXPOSICION]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPOSICION](
	[id_empleado] [int] NOT NULL,
	[id_riesgo] [int] NOT NULL,
	[TiempoExposicionDiario] [decimal](5, 2) NULL,
	[FrecuenciaExposicion] [nvarchar](50) NULL,
	[FechaRegistro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC,
	[id_riesgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EXPOSICION] ([id_empleado], [id_riesgo], [TiempoExposicionDiario], [FrecuenciaExposicion], [FechaRegistro]) VALUES (100, 2, CAST(8.00 AS Decimal(5, 2)), N'Diaria', CAST(N'2025-11-14' AS Date))
INSERT [dbo].[EXPOSICION] ([id_empleado], [id_riesgo], [TiempoExposicionDiario], [FrecuenciaExposicion], [FechaRegistro]) VALUES (102, 1, CAST(8.00 AS Decimal(5, 2)), N'Diaria', CAST(N'2025-11-14' AS Date))
INSERT [dbo].[EXPOSICION] ([id_empleado], [id_riesgo], [TiempoExposicionDiario], [FrecuenciaExposicion], [FechaRegistro]) VALUES (103, 1, CAST(7.00 AS Decimal(5, 2)), N'Diaria', CAST(N'2025-11-14' AS Date))
GO
ALTER TABLE [dbo].[EXPOSICION] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EXPOSICION]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EXPOSICION]  WITH CHECK ADD FOREIGN KEY([id_riesgo])
REFERENCES [dbo].[RIESGO] ([id_riesgo])
GO
