USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EXAMEN_MEDICO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMEN_MEDICO](
	[id_examen] [int] IDENTITY(3000,1) NOT NULL,
	[id_empleado] [int] NULL,
	[Tipo_Examen] [nvarchar](50) NOT NULL,
	[Fecha_Realizacion] [date] NOT NULL,
	[Fecha_Vencimiento] [date] NULL,
	[EntidadRealizadora] [nvarchar](200) NULL,
	[MedicoEvaluador] [nvarchar](100) NULL,
	[Apto_Para_Cargo] [bit] NULL,
	[Restricciones] [nvarchar](max) NULL,
	[Recomendaciones] [nvarchar](max) NULL,
	[DiagnosticosCodificados] [nvarchar](500) NULL,
	[RequiereSeguimiento] [bit] NULL,
	[RutaResultados] [nvarchar](500) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EXAMEN_MEDICO] ON 

INSERT [dbo].[EXAMEN_MEDICO] ([id_examen], [id_empleado], [Tipo_Examen], [Fecha_Realizacion], [Fecha_Vencimiento], [EntidadRealizadora], [MedicoEvaluador], [Apto_Para_Cargo], [Restricciones], [Recomendaciones], [DiagnosticosCodificados], [RequiereSeguimiento], [RutaResultados], [FechaRegistro]) VALUES (3000, 100, N'Preocupacional', CAST(N'2015-01-01' AS Date), NULL, N'IPS Salud Total', NULL, 1, NULL, NULL, NULL, 0, NULL, CAST(N'2025-11-14T10:15:22.803' AS DateTime))
INSERT [dbo].[EXAMEN_MEDICO] ([id_examen], [id_empleado], [Tipo_Examen], [Fecha_Realizacion], [Fecha_Vencimiento], [EntidadRealizadora], [MedicoEvaluador], [Apto_Para_Cargo], [Restricciones], [Recomendaciones], [DiagnosticosCodificados], [RequiereSeguimiento], [RutaResultados], [FechaRegistro]) VALUES (3001, 101, N'Preocupacional', CAST(N'2019-11-01' AS Date), NULL, N'IPS Salud Total', NULL, 1, NULL, NULL, NULL, 0, NULL, CAST(N'2025-11-14T10:15:22.803' AS DateTime))
INSERT [dbo].[EXAMEN_MEDICO] ([id_examen], [id_empleado], [Tipo_Examen], [Fecha_Realizacion], [Fecha_Vencimiento], [EntidadRealizadora], [MedicoEvaluador], [Apto_Para_Cargo], [Restricciones], [Recomendaciones], [DiagnosticosCodificados], [RequiereSeguimiento], [RutaResultados], [FechaRegistro]) VALUES (3002, 102, N'Periodico', CAST(N'2023-01-20' AS Date), CAST(N'2024-01-20' AS Date), N'IPS Salud Total', NULL, 1, NULL, NULL, NULL, 0, NULL, CAST(N'2025-11-14T10:15:22.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[EXAMEN_MEDICO] OFF
GO
/****** Object:  Index [IDX_Examen_Empleado]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Examen_Empleado] ON [dbo].[EXAMEN_MEDICO]
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Examen_Tipo]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Examen_Tipo] ON [dbo].[EXAMEN_MEDICO]
(
	[Tipo_Examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EXAMEN_MEDICO] ADD  DEFAULT ((0)) FOR [RequiereSeguimiento]
GO
ALTER TABLE [dbo].[EXAMEN_MEDICO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EXAMEN_MEDICO]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EXAMEN_MEDICO]  WITH CHECK ADD CHECK  (([Tipo_Examen]='Cambio de Ocupación' OR [Tipo_Examen]='Retiro' OR [Tipo_Examen]='Post-Incapacidad' OR [Tipo_Examen]='Periodico' OR [Tipo_Examen]='Preocupacional'))
GO
/****** Object:  Trigger [dbo].[TR_EXAMEN_MEDICO_ValidarFecha]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 4: Validar y auto-calcular Fecha de Vencimiento EMO (1 año)
-- ============================================================
CREATE   TRIGGER [dbo].[TR_EXAMEN_MEDICO_ValidarFecha]
ON [dbo].[EXAMEN_MEDICO]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Calcular fecha de vencimiento si no está definida para exámenes periódicos
    UPDATE EM
    SET Fecha_Vencimiento = DATEADD(YEAR, 1, i.Fecha_Realizacion)
    FROM EXAMEN_MEDICO EM
    INNER JOIN inserted i ON EM.id_examen = i.id_examen
    WHERE i.Tipo_Examen = 'Periodico' 
    AND i.Fecha_Vencimiento IS NULL;
END
GO
ALTER TABLE [dbo].[EXAMEN_MEDICO] ENABLE TRIGGER [TR_EXAMEN_MEDICO_ValidarFecha]
GO
