USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[TAREA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREA](
	[id_tarea] [int] IDENTITY(2000,1) NOT NULL,
	[id_plan] [int] NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Tipo_Tarea] [nvarchar](100) NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Fecha_Vencimiento] [date] NOT NULL,
	[Prioridad] [nvarchar](20) NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[id_empleado_responsable] [int] NULL,
	[Origen_Tarea] [nvarchar](100) NULL,
	[AvancePorc] [decimal](5, 2) NULL,
	[Fecha_Actualizacion] [datetime] NULL,
	[Fecha_Cierre] [date] NULL,
	[id_empleado_cierre] [int] NULL,
	[Observaciones_Cierre] [nvarchar](max) NULL,
	[CostoEstimado] [decimal](15, 2) NULL,
	[RutaEvidencia] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TAREA] ON 

INSERT [dbo].[TAREA] ([id_tarea], [id_plan], [Descripcion], [Tipo_Tarea], [Fecha_Creacion], [Fecha_Vencimiento], [Prioridad], [Estado], [id_empleado_responsable], [Origen_Tarea], [AvancePorc], [Fecha_Actualizacion], [Fecha_Cierre], [id_empleado_cierre], [Observaciones_Cierre], [CostoEstimado], [RutaEvidencia]) VALUES (2004, 1, N'Inspección de Extintores - Trimestre 1', N'Inspección', CAST(N'2024-01-10' AS Date), CAST(N'2024-03-31' AS Date), N'Alta', N'Cerrada', 101, N'Plan Anual', CAST(0.00 AS Decimal(5, 2)), CAST(N'2025-11-15T20:22:16.803' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TAREA] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Tarea_Estado]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Tarea_Estado] ON [dbo].[TAREA]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Tarea_Responsable]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Tarea_Responsable] ON [dbo].[TAREA]
(
	[id_empleado_responsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Tarea_Vencimiento]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Tarea_Vencimiento] ON [dbo].[TAREA]
(
	[Fecha_Vencimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TAREA] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[TAREA] ADD  DEFAULT ('Media') FOR [Prioridad]
GO
ALTER TABLE [dbo].[TAREA] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[TAREA] ADD  DEFAULT ((0)) FOR [AvancePorc]
GO
ALTER TABLE [dbo].[TAREA] ADD  DEFAULT (getdate()) FOR [Fecha_Actualizacion]
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD FOREIGN KEY([id_empleado_responsable])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD FOREIGN KEY([id_empleado_cierre])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD FOREIGN KEY([id_plan])
REFERENCES [dbo].[PLAN_TRABAJO] ([id_plan])
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD CHECK  (([AvancePorc]>=(0) AND [AvancePorc]<=(100)))
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD CHECK  (([Estado]='Cancelada' OR [Estado]='Vencida' OR [Estado]='Cerrada' OR [Estado]='En Curso' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD CHECK  (([Prioridad]='Crítica' OR [Prioridad]='Alta' OR [Prioridad]='Media' OR [Prioridad]='Baja'))
GO
/****** Object:  Trigger [dbo].[TR_TAREA_ActualizarFecha]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- TR-1: Trigger para actualizar la fecha de modificación en la tabla TAREA
CREATE TRIGGER [dbo].[TR_TAREA_ActualizarFecha]
ON [dbo].[TAREA]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Se actualiza la fecha de actualización si hubo cambios en campos de gestión
    IF UPDATE(Descripcion) OR UPDATE(Estado) OR UPDATE(id_empleado_responsable) OR UPDATE(Observaciones_Cierre)
    BEGIN
        UPDATE T
        SET Fecha_Actualizacion = GETDATE()
        FROM TAREA T
        INNER JOIN inserted i ON T.id_tarea = i.id_tarea;
    END

    -- Si la tarea fue marcada como 'Cerrada', asegura que Fecha_Cierre se registre
    IF EXISTS (SELECT 1 FROM inserted i WHERE i.Estado = 'Cerrada')
    BEGIN
        UPDATE T
        SET Fecha_Cierre = GETDATE()
        FROM TAREA T
        INNER JOIN inserted i ON T.id_tarea = i.id_tarea
        WHERE T.Estado = 'Cerrada' AND T.Fecha_Cierre IS NULL;
    END
END
GO
ALTER TABLE [dbo].[TAREA] ENABLE TRIGGER [TR_TAREA_ActualizarFecha]
GO
/****** Object:  Trigger [dbo].[TR_TAREA_CambioResponsable]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 17: Crear alerta por cambio de responsable en TAREA
-- ============================================================
CREATE   TRIGGER [dbo].[TR_TAREA_CambioResponsable]
ON [dbo].[TAREA]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Si cambió el responsable, crear alerta para el nuevo responsable y el anterior
    IF EXISTS (
        SELECT 1 FROM inserted i
        INNER JOIN deleted d ON i.id_tarea = d.id_tarea
        WHERE i.id_empleado_responsable <> d.id_empleado_responsable
    )
    BEGIN
        INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
        SELECT 
            'Reasignación de Tarea', 'Media',
            'La tarea "' + i.Descripcion + '" ha sido reasignada a ' + EN.Nombre + ' ' + EN.Apellidos,
            'TAREA_REASIGNADA', i.id_tarea, 'Pendiente',
            '["' + EN.Correo + '","' + EA.Correo + '"]'
        FROM inserted i
        INNER JOIN deleted d ON i.id_tarea = d.id_tarea
        INNER JOIN EMPLEADO EN ON i.id_empleado_responsable = EN.id_empleado -- Nuevo responsable
        INNER JOIN EMPLEADO EA ON d.id_empleado_responsable = EA.id_empleado -- Anterior responsable
        WHERE i.id_empleado_responsable <> d.id_empleado_responsable
        AND EN.Correo IS NOT NULL AND EA.Correo IS NOT NULL; -- Solo si tienen correo
    END
END
GO
ALTER TABLE [dbo].[TAREA] ENABLE TRIGGER [TR_TAREA_CambioResponsable]
GO
/****** Object:  Trigger [dbo].[TR_TAREA_Update]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 2: Actualizar Fecha_Actualizacion y Fecha_Cierre en TAREA
-- ============================================================
CREATE   TRIGGER [dbo].[TR_TAREA_Update]
ON [dbo].[TAREA]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Actualizar Fecha_Actualizacion
    UPDATE T
    SET Fecha_Actualizacion = GETDATE()
    FROM TAREA T
    INNER JOIN inserted i ON T.id_tarea = i.id_tarea;
    
    -- 2. Registrar Fecha_Cierre si el estado cambia a 'Cerrada'
    UPDATE T
    SET Fecha_Cierre = GETDATE()
    FROM TAREA T
    INNER JOIN inserted i ON T.id_tarea = i.id_tarea
    INNER JOIN deleted d ON T.id_tarea = d.id_tarea
    WHERE i.Estado = 'Cerrada' AND d.Estado <> 'Cerrada'
    AND T.Fecha_Cierre IS NULL;
END
GO
ALTER TABLE [dbo].[TAREA] ENABLE TRIGGER [TR_TAREA_Update]
GO
