USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](100) NOT NULL,
	[Fecha_Programada] [date] NULL,
	[Fecha_Realizacion] [date] NOT NULL,
	[Alcance] [nvarchar](max) NULL,
	[Criterios_Auditoria] [nvarchar](max) NULL,
	[Auditor_Lider] [int] NULL,
	[Equipo_Auditor] [nvarchar](500) NULL,
	[EntidadAuditora] [nvarchar](200) NULL,
	[Hallazgos_Resumen] [nvarchar](max) NULL,
	[Conclusiones] [nvarchar](max) NULL,
	[Calificacion_Global] [decimal](5, 2) NULL,
	[Estado] [nvarchar](50) NULL,
	[RutaInforme] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDITORIA] ADD  DEFAULT ('Programada') FOR [Estado]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD FOREIGN KEY([Auditor_Lider])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD CHECK  (([Estado]='Cerrada' OR [Estado]='En Ejecución' OR [Estado]='Programada'))
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD CHECK  (([Tipo]='Ministerio de Trabajo' OR [Tipo]='ARL' OR [Tipo]='Externa' OR [Tipo]='Interna'))
GO
