USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[HALLAZGO_AUDITORIA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HALLAZGO_AUDITORIA](
	[id_hallazgo] [int] IDENTITY(1,1) NOT NULL,
	[id_auditoria] [int] NULL,
	[NumeroHallazgo] [nvarchar](50) NULL,
	[TipoHallazgo] [nvarchar](50) NOT NULL,
	[Criterio] [nvarchar](200) NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Evidencia] [nvarchar](max) NULL,
	[ResponsableArea] [int] NULL,
	[EstadoHallazgo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hallazgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HALLAZGO_AUDITORIA] ADD  DEFAULT ('Abierto') FOR [EstadoHallazgo]
GO
ALTER TABLE [dbo].[HALLAZGO_AUDITORIA]  WITH CHECK ADD FOREIGN KEY([id_auditoria])
REFERENCES [dbo].[AUDITORIA] ([id_auditoria])
GO
ALTER TABLE [dbo].[HALLAZGO_AUDITORIA]  WITH CHECK ADD FOREIGN KEY([ResponsableArea])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[HALLAZGO_AUDITORIA]  WITH CHECK ADD CHECK  (([EstadoHallazgo]='Verificado' OR [EstadoHallazgo]='Cerrado' OR [EstadoHallazgo]='En Tratamiento' OR [EstadoHallazgo]='Abierto'))
GO
ALTER TABLE [dbo].[HALLAZGO_AUDITORIA]  WITH CHECK ADD CHECK  (([TipoHallazgo]='Conformidad' OR [TipoHallazgo]='Oportunidad de Mejora' OR [TipoHallazgo]='Observación' OR [TipoHallazgo]='No Conformidad Menor' OR [TipoHallazgo]='No Conformidad Mayor'))
GO
/****** Object:  Trigger [dbo].[TR_HALLAZGO_AUDITORIA_CrearTarea]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 11: Crear tarea automática al registrar hallazgo crítico (CORREGIDO)
-- ============================================================
CREATE   TRIGGER [dbo].[TR_HALLAZGO_AUDITORIA_CrearTarea]
ON [dbo].[HALLAZGO_AUDITORIA]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @IdCoordinadorSST INT;
    SELECT TOP 1 @IdCoordinadorSST = E.id_empleado -- ¡CORRECCIÓN AQUÍ!
    FROM EMPLEADO E
    INNER JOIN EMPLEADO_ROL ER ON E.id_empleado = ER.id_empleado
    INNER JOIN ROL R ON ER.id_rol = R.id_rol
    WHERE R.NombreRol = 'Coordinador SST' AND E.Estado = 1;
    
    -- Crear tarea automática para No Conformidades Mayores o Críticas
    INSERT INTO TAREA (Descripcion, Tipo_Tarea, Fecha_Creacion, Fecha_Vencimiento, Prioridad, Estado, id_empleado_responsable, Origen_Tarea)
    SELECT 
        'Atender hallazgo de auditoría: ' + LEFT(i.Descripcion, 200),
        'Auditoría',
        GETDATE(),
        DATEADD(DAY, 30, GETDATE()), -- 30 días para atender
        'Alta', 'Pendiente',
        ISNULL(i.ResponsableArea, @IdCoordinadorSST),
        'Auditoría'
    FROM inserted i
    WHERE i.TipoHallazgo LIKE '%Mayor%' OR i.TipoHallazgo = 'Crítico';
END
GO
ALTER TABLE [dbo].[HALLAZGO_AUDITORIA] ENABLE TRIGGER [TR_HALLAZGO_AUDITORIA_CrearTarea]
GO
