USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Reporte_Ejecutivo_CEO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 6: Reporte Ejecutivo para CEO
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Reporte_Ejecutivo_CEO]
    @Periodo NVARCHAR(50) = 'Mensual' -- 'Mensual', 'Trimestral', 'Anual'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @FechaInicio DATE, @FechaFin DATE;
    
    -- Determinar período
    IF @Periodo = 'Anual'
    BEGIN
        SET @FechaInicio = DATEFROMPARTS(YEAR(GETDATE()), 1, 1);
        SET @FechaFin = GETDATE();
    END
    ELSE IF @Periodo = 'Trimestral'
    BEGIN
        SET @FechaInicio = DATEADD(MONTH, -3, GETDATE());
        SET @FechaFin = GETDATE();
    END
    ELSE -- Mensual
    BEGIN
        SET @FechaInicio = DATEADD(MONTH, -1, GETDATE());
        SET @FechaFin = GETDATE();
    END
    
    -- 1. Resumen de Accidentalidad
    SELECT 
        'ACCIDENTALIDAD' AS Seccion,
        COUNT(CASE WHEN Tipo_Evento = 'Accidente de Trabajo' THEN 1 END) AS Accidentes_Trabajo,
        COUNT(CASE WHEN Tipo_Evento = 'Incidente' THEN 1 END) AS Incidentes,
        COUNT(CASE WHEN Tipo_Evento = 'Acto Inseguro' THEN 1 END) AS Actos_Inseguros,
        COUNT(CASE WHEN Tipo_Evento = 'Condición Insegura' THEN 1 END) AS Condiciones_Inseguras,
        ISNULL(SUM(Dias_Incapacidad), 0) AS Total_Dias_Incapacidad
    FROM EVENTO
    WHERE CAST(Fecha_Evento AS DATE) BETWEEN @FechaInicio AND @FechaFin;
    
    -- 2. Cumplimiento del Plan de Trabajo
    SELECT 
        'PLAN DE TRABAJO' AS Seccion,
        COUNT(*) AS Total_Tareas,
        SUM(CASE WHEN Estado = 'Cerrada' THEN 1 ELSE 0 END) AS Completadas,
        SUM(CASE WHEN Estado = 'En Curso' THEN 1 ELSE 0 END) AS En_Curso,
        SUM(CASE WHEN Estado = 'Vencida' THEN 1 ELSE 0 END) AS Vencidas,
        CAST(SUM(CASE WHEN Estado = 'Cerrada' THEN 1 ELSE 0 END) * 100.0 / NULLIF(COUNT(*), 0) AS DECIMAL(5,2)) AS Porc_Cumplimiento
    FROM TAREA
    WHERE Fecha_Creacion BETWEEN @FechaInicio AND @FechaFin
    OR (Estado NOT IN ('Cerrada', 'Cancelada') AND Fecha_Vencimiento <= @FechaFin);
    
    -- 3. Capacitaciones
    SELECT 
        'CAPACITACIONES' AS Seccion,
        COUNT(*) AS Total_Programadas,
        SUM(CASE WHEN Estado = 'Realizada' THEN 1 ELSE 0 END) AS Realizadas,
        SUM(CASE WHEN Estado = 'Cancelada' THEN 1 ELSE 0 END) AS Canceladas,
        (SELECT COUNT(DISTINCT id_empleado) FROM ASISTENCIA 
         WHERE id_capacitacion IN (
            SELECT id_capacitacion FROM CAPACITACION 
            WHERE Fecha_Realizacion BETWEEN @FechaInicio AND @FechaFin
         )) AS Empleados_Capacitados,
        (SELECT SUM(Duracion_Horas) FROM CAPACITACION 
         WHERE Estado = 'Realizada' AND Fecha_Realizacion BETWEEN @FechaInicio AND @FechaFin) AS Total_Horas_Capacitacion
    FROM CAPACITACION
    WHERE Fecha_Programada BETWEEN @FechaInicio AND @FechaFin;
    
    -- 4. Alertas Críticas y Altas Pendientes
    SELECT 
        'ALERTAS' AS Seccion,
        COUNT(CASE WHEN Prioridad = 'Crítica' THEN 1 END) AS Alertas_Criticas,
        COUNT(CASE WHEN Prioridad = 'Alta' THEN 1 END) AS Alertas_Altas,
        COUNT(*) AS Total_Alertas_Pendientes
    FROM ALERTA
    WHERE Estado IN ('Pendiente', 'Enviada')
    AND Prioridad IN ('Crítica', 'Alta');
    
    -- 5. Cumplimiento EMO
    SELECT 
        'EXAMENES MEDICOS' AS Seccion,
        (SELECT COUNT(*) FROM EMPLEADO WHERE Estado = 1) AS Total_Empleados,
        (SELECT COUNT(DISTINCT E.id_empleado)
         FROM EMPLEADO E
         WHERE E.Estado = 1
         AND EXISTS (
            SELECT 1 FROM EXAMEN_MEDICO EM 
            WHERE EM.id_empleado = E.id_empleado 
            AND (EM.Fecha_Vencimiento >= CAST(GETDATE() AS DATE) OR EM.Fecha_Vencimiento IS NULL)
         )) AS EMO_Vigentes,
        CAST((SELECT COUNT(DISTINCT E.id_empleado)
         FROM EMPLEADO E
         WHERE E.Estado = 1
         AND EXISTS (
            SELECT 1 FROM EXAMEN_MEDICO EM 
            WHERE EM.id_empleado = E.id_empleado 
            AND (EM.Fecha_Vencimiento >= CAST(GETDATE() AS DATE) OR EM.Fecha_Vencimiento IS NULL)
         )) * 100.0 / NULLIF((SELECT COUNT(*) FROM EMPLEADO WHERE Estado = 1), 0) AS DECIMAL(5,2)) AS Porc_Cumplimiento_EMO;
    
    -- 6. Hallazgos de Auditorías Abiertos
    SELECT 
        'AUDITORIAS' AS Seccion,
        COUNT(*) AS Hallazgos_Abiertos,
        SUM(CASE WHEN TipoHallazgo LIKE '%Mayor%' THEN 1 ELSE 0 END) AS NoConformidades_Mayores,
        SUM(CASE WHEN TipoHallazgo LIKE '%Menor%' THEN 1 ELSE 0 END) AS NoConformidades_Menores
    FROM HALLAZGO_AUDITORIA
    WHERE EstadoHallazgo IN ('Abierto', 'En Tratamiento');
    
    -- 7. Inspecciones Realizadas
    SELECT 
        'INSPECCIONES' AS Seccion,
        COUNT(*) AS Inspecciones_Realizadas,
        (SELECT COUNT(*) FROM HALLAZGO_INSPECCION HI
         INNER JOIN INSPECCION I ON HI.id_inspeccion = I.id_inspeccion
         WHERE I.Fecha_Inspeccion BETWEEN @FechaInicio AND @FechaFin
         AND HI.EstadoAccion IN ('Pendiente', 'En Proceso')) AS Hallazgos_Pendientes
    FROM INSPECCION
    WHERE Fecha_Inspeccion BETWEEN @FechaInicio AND @FechaFin;
END
GO
