USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Alertas_Pendientes]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 11: Obtener Alertas Pendientes de Envío
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Obtener_Alertas_Pendientes]
    @LimitePrioridad NVARCHAR(20) = 'Media' -- Crítica, Alta, Media, Informativa
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        A.id_alerta,
        A.Tipo,
        A.Prioridad,
        A.Descripcion,
        A.FechaGeneracion,
        A.FechaEvento,
        A.ModuloOrigen,
        A.IdRelacionado,
        A.DestinatariosCorreo,
        CASE A.ModuloOrigen
            WHEN 'EXAMEN_MEDICO' THEN (
                SELECT E.Nombre + ' ' + E.Apellidos 
                FROM EXAMEN_MEDICO EM 
                JOIN EMPLEADO E ON EM.id_empleado = E.id_empleado
                WHERE EM.id_examen = A.IdRelacionado
            )
            WHEN 'TAREA' THEN (
                SELECT E.Nombre + ' ' + E.Apellidos 
                FROM TAREA T
                JOIN EMPLEADO E ON T.id_empleado_responsable = E.id_empleado
                WHERE T.id_tarea = A.IdRelacionado
            )
            ELSE 'N/A'
        END AS AfectadoNombre
    FROM ALERTA A
    WHERE A.Estado = 'Pendiente'
    AND A.Enviada = 0
    AND (
        (@LimitePrioridad = 'Crítica' AND A.Prioridad = 'Crítica')
        OR (@LimitePrioridad = 'Alta' AND A.Prioridad IN ('Crítica', 'Alta'))
        OR (@LimitePrioridad = 'Media' AND A.Prioridad IN ('Crítica', 'Alta', 'Media'))
        OR (@LimitePrioridad = 'Informativa')
    )
    ORDER BY 
        CASE A.Prioridad
            WHEN 'Crítica' THEN 1
            WHEN 'Alta' THEN 2
            WHEN 'Media' THEN 3
            ELSE 4
        END,
        A.FechaEvento ASC;
END
GO
