USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[COMITE]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMITE](
	[id_comite] [int] IDENTITY(10,1) NOT NULL,
	[Tipo_Comite] [nvarchar](50) NOT NULL,
	[Fecha_Conformacion] [date] NOT NULL,
	[Fecha_Vigencia] [date] NOT NULL,
	[ActaConformacion] [nvarchar](500) NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COMITE] ON 

INSERT [dbo].[COMITE] ([id_comite], [Tipo_Comite], [Fecha_Conformacion], [Fecha_Vigencia], [ActaConformacion], [Estado]) VALUES (10, N'COPASST', CAST(N'2023-03-15' AS Date), CAST(N'2025-03-15' AS Date), NULL, N'Vigente')
INSERT [dbo].[COMITE] ([id_comite], [Tipo_Comite], [Fecha_Conformacion], [Fecha_Vigencia], [ActaConformacion], [Estado]) VALUES (11, N'COCOLAB', CAST(N'2024-01-10' AS Date), CAST(N'2026-01-10' AS Date), NULL, N'Vigente')
SET IDENTITY_INSERT [dbo].[COMITE] OFF
GO
ALTER TABLE [dbo].[COMITE] ADD  DEFAULT ('Vigente') FOR [Estado]
GO
ALTER TABLE [dbo].[COMITE]  WITH CHECK ADD CHECK  (([Estado]='Disuelto' OR [Estado]='Vencido' OR [Estado]='Vigente'))
GO
ALTER TABLE [dbo].[COMITE]  WITH CHECK ADD CHECK  (([Tipo_Comite]='COCOVICO' OR [Tipo_Comite]='COCOLAB' OR [Tipo_Comite]='COPASST'))
GO
/****** Object:  Trigger [dbo].[TR_COMITE_ActualizarEstado]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 7: Actualizar Estado de Comité si venció (Al actualizar la tabla COMITE)
-- ============================================================
CREATE   TRIGGER [dbo].[TR_COMITE_ActualizarEstado]
ON [dbo].[COMITE]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Actualizar a 'Vencido' si la fecha de vigencia ya pasó
    UPDATE C
    SET Estado = 'Vencido'
    FROM COMITE C
    INNER JOIN inserted i ON C.id_comite = i.id_comite
    WHERE i.Fecha_Vigencia < CAST(GETDATE() AS DATE)
    AND i.Estado = 'Vigente';
END
GO
ALTER TABLE [dbo].[COMITE] ENABLE TRIGGER [TR_COMITE_ActualizarEstado]
GO
