USE [SG_SST_AgenteInteligente]
GO
/****** Object:  View [dbo].[VW_Indicadores_Tiempo_Real]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VISTA 3: Indicadores en Tiempo Real (KPIs)
-- ============================================================
CREATE   VIEW [dbo].[VW_Indicadores_Tiempo_Real] AS
SELECT 
    (SELECT COUNT(*) FROM EMPLEADO WHERE Estado = 1) AS Total_Empleados_Activos,
    
    (SELECT COUNT(*) FROM EVENTO 
     WHERE Tipo_Evento = 'Accidente de Trabajo' 
     AND YEAR(Fecha_Evento) = YEAR(GETDATE())) AS Accidentes_AnioActual,
    
    (SELECT ISNULL(SUM(Dias_Incapacidad), 0) FROM EVENTO 
     WHERE Tipo_Evento = 'Accidente de Trabajo' 
     AND YEAR(Fecha_Evento) = YEAR(GETDATE())) AS Dias_Incapacidad_AnioActual,
    
    (SELECT COUNT(*) FROM TAREA WHERE Estado = 'Vencida') AS Tareas_Vencidas,
    
    (SELECT COUNT(*) FROM TAREA 
     WHERE Estado IN ('Pendiente', 'En Curso')) AS Tareas_Activas,
    
    (SELECT COUNT(*) FROM ALERTA 
     WHERE Prioridad = 'Crítica' AND Estado = 'Pendiente') AS Alertas_Criticas_Pendientes,
    
    (SELECT COUNT(*) FROM ALERTA 
     WHERE Prioridad IN ('Crítica', 'Alta') AND Estado = 'Pendiente') AS Alertas_Urgentes_Pendientes,
    
    (SELECT COUNT(DISTINCT E.id_empleado) 
     FROM EMPLEADO E 
     WHERE E.Estado = 1 
     AND EXISTS (
        SELECT 1 FROM EXAMEN_MEDICO EM 
        WHERE EM.id_empleado = E.id_empleado 
        AND (EM.Fecha_Vencimiento >= CAST(GETDATE() AS DATE) OR EM.Fecha_Vencimiento IS NULL)
     )) AS Empleados_EMO_Vigente,
    
    (SELECT COUNT(*) FROM CAPACITACION 
     WHERE Estado = 'Realizada' 
     AND YEAR(Fecha_Realizacion) = YEAR(GETDATE())) AS Capacitaciones_Realizadas_AnioActual,
    
    (SELECT COUNT(*) FROM HALLAZGO_AUDITORIA 
     WHERE EstadoHallazgo IN ('Abierto', 'En Tratamiento')) AS Hallazgos_Auditoria_Abiertos,
    
    (SELECT COUNT(*) FROM COMITE 
     WHERE Estado = 'Vigente') AS Comites_Vigentes,
    
    GETDATE() AS Fecha_Actualizacion;
GO
