USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[REPORTE_GENERADO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTE_GENERADO](
	[id_reporte] [int] IDENTITY(1,1) NOT NULL,
	[TipoReporte] [nvarchar](100) NOT NULL,
	[Periodo] [nvarchar](50) NULL,
	[Solicitante] [nvarchar](150) NULL,
	[FechaGeneracion] [datetime] NULL,
	[Parametros] [nvarchar](max) NULL,
	[RutaArchivo] [nvarchar](500) NULL,
	[FormatoSalida] [nvarchar](20) NULL,
	[EstadoGeneracion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[REPORTE_GENERADO] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[REPORTE_GENERADO] ADD  DEFAULT ('Completado') FOR [EstadoGeneracion]
GO
ALTER TABLE [dbo].[REPORTE_GENERADO]  WITH CHECK ADD CHECK  (([EstadoGeneracion]='Error' OR [EstadoGeneracion]='Completado' OR [EstadoGeneracion]='En Proceso'))
GO
ALTER TABLE [dbo].[REPORTE_GENERADO]  WITH CHECK ADD CHECK  (([FormatoSalida]='Email' OR [FormatoSalida]='HTML' OR [FormatoSalida]='Word' OR [FormatoSalida]='Excel' OR [FormatoSalida]='PDF'))
GO
