USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Generar_Alertas_Automaticas]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_Generar_Alertas_Automaticas]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DiasAlertaEMO INT, @DiasAlertaComite INT, @DiasAlertaEPP INT;
    DECLARE @CorreoCoordinadorSST NVARCHAR(150), @CorreoCEO NVARCHAR(150);
    
    -- Obtener configuración
    SELECT @DiasAlertaEMO = CAST(Valor AS INT) FROM CONFIG_AGENTE WHERE Clave = 'DIAS_ALERTA_EMO';
    SELECT @DiasAlertaComite = CAST(Valor AS INT) FROM CONFIG_AGENTE WHERE Clave = 'DIAS_ALERTA_COMITE';
    SELECT @DiasAlertaEPP = CAST(Valor AS INT) FROM CONFIG_AGENTE WHERE Clave = 'DIAS_ALERTA_EPP';
    SELECT @CorreoCoordinadorSST = Valor FROM CONFIG_AGENTE WHERE Clave = 'CORREO_COORDINADOR_SST';
    SELECT @CorreoCEO = Valor FROM CONFIG_AGENTE WHERE Clave = 'CORREO_CEO';
    
    -- 1. ALERTAS DE EXÁMENES MÉDICOS PRÓXIMOS A VENCER
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Examen Médico Próximo a Vencer',
        CASE 
            WHEN DATEDIFF(DAY, GETDATE(), EM.Fecha_Vencimiento) <= 15 THEN 'Crítica'
            WHEN DATEDIFF(DAY, GETDATE(), EM.Fecha_Vencimiento) <= 30 THEN 'Alta'
            ELSE 'Media'
        END,
        'El examen médico ' + EM.Tipo_Examen + ' de ' + E.Nombre + ' ' + E.Apellidos + 
        ' vence el ' + CONVERT(VARCHAR, EM.Fecha_Vencimiento, 103) + 
        ' (En ' + CAST(DATEDIFF(DAY, GETDATE(), EM.Fecha_Vencimiento) AS VARCHAR) + ' días)',
        EM.Fecha_Vencimiento,
        'EXAMEN_MEDICO',
        EM.id_examen,
        'Pendiente',
        '["' + ISNULL(E.Correo, '') + '","' + @CorreoCoordinadorSST + '"]'
    FROM EXAMEN_MEDICO EM
    INNER JOIN EMPLEADO E ON E.id_empleado = EM.id_empleado
    WHERE EM.Tipo_Examen IN ('Periodico', 'Post-Incapacidad')
    AND E.Estado = 1
    AND EM.Fecha_Vencimiento IS NOT NULL
    AND DATEDIFF(DAY, GETDATE(), EM.Fecha_Vencimiento) BETWEEN 0 AND @DiasAlertaEMO
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE IdRelacionado = EM.id_examen 
        AND ModuloOrigen = 'EXAMEN_MEDICO' 
        AND Estado IN ('Pendiente', 'Enviada')
        AND CAST(FechaGeneracion AS DATE) >= DATEADD(DAY, -7, GETDATE())
    );

    -- 2. ALERTAS DE EXÁMENES MÉDICOS VENCIDOS
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Examen Médico Vencido',
        'Crítica',
        'URGENTE: El examen médico ' + EM.Tipo_Examen + ' de ' + E.Nombre + ' ' + E.Apellidos + 
        ' está VENCIDO desde el ' + CONVERT(VARCHAR, EM.Fecha_Vencimiento, 103) +
        ' (' + CAST(DATEDIFF(DAY, EM.Fecha_Vencimiento, GETDATE()) AS VARCHAR) + ' días de retraso)',
        EM.Fecha_Vencimiento,
        'EXAMEN_MEDICO_VENCIDO',
        EM.id_examen,
        'Pendiente',
        '["' + @CorreoCoordinadorSST + '","' + @CorreoCEO + '"]'
    FROM EXAMEN_MEDICO EM
    INNER JOIN EMPLEADO E ON E.id_empleado = EM.id_empleado
    WHERE EM.Tipo_Examen IN ('Periodico', 'Post-Incapacidad')
    AND E.Estado = 1
    AND EM.Fecha_Vencimiento < CAST(GETDATE() AS DATE)
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE IdRelacionado = EM.id_examen 
        AND ModuloOrigen = 'EXAMEN_MEDICO_VENCIDO' 
        AND Estado IN ('Pendiente', 'Enviada')
        AND CAST(FechaGeneracion AS DATE) >= DATEADD(DAY, -7, GETDATE())
    );

    -- 3. ALERTAS DE COMITÉS PRÓXIMOS A VENCER
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Comité Próximo a Vencer',
        CASE 
            WHEN DATEDIFF(DAY, GETDATE(), C.Fecha_Vigencia) <= 30 THEN 'Alta'
            ELSE 'Media'
        END,
        'El ' + C.Tipo_Comite + ' conformado el ' + CONVERT(VARCHAR, C.Fecha_Conformacion, 103) + 
        ' vence el ' + CONVERT(VARCHAR, C.Fecha_Vigencia, 103) + 
        '. Se debe iniciar proceso de nueva elección (En ' + CAST(DATEDIFF(DAY, GETDATE(), C.Fecha_Vigencia) AS VARCHAR) + ' días)',
        C.Fecha_Vigencia,
        'COMITE',
        C.id_comite,
        'Pendiente',
        '["' + @CorreoCoordinadorSST + '"]'
    FROM COMITE C
    WHERE C.Estado = 'Vigente'
    AND DATEDIFF(DAY, GETDATE(), C.Fecha_Vigencia) BETWEEN 0 AND @DiasAlertaComite
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE IdRelacionado = C.id_comite 
        AND ModuloOrigen = 'COMITE' 
        AND Estado IN ('Pendiente', 'Enviada')
        AND CAST(FechaGeneracion AS DATE) >= DATEADD(DAY, -15, GETDATE())
    );

    -- 4. ALERTAS DE TAREAS VENCIDAS
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Tarea Vencida',
        T.Prioridad,
        'La tarea "' + T.Descripcion + '" asignada a ' + E.Nombre + ' ' + E.Apellidos + 
        ' está vencida desde el ' + CONVERT(VARCHAR, T.Fecha_Vencimiento, 103) +
        ' (' + CAST(DATEDIFF(DAY, T.Fecha_Vencimiento, GETDATE()) AS VARCHAR) + ' días de retraso)',
        T.Fecha_Vencimiento,
        'TAREA',
        T.id_tarea,
        'Pendiente',
        '["' + ISNULL(E.Correo, '') + '","' + @CorreoCoordinadorSST + '"]'
    FROM TAREA T
    JOIN EMPLEADO E ON T.id_empleado_responsable = E.id_empleado
    WHERE T.Estado = 'Vencida'
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE IdRelacionado = T.id_tarea 
        AND ModuloOrigen = 'TAREA' 
        AND Estado IN ('Pendiente', 'Enviada')
        AND CAST(FechaGeneracion AS DATE) >= DATEADD(DAY, -3, GETDATE())
    );

    -- 5. ALERTAS DE EPP PRÓXIMO A REEMPLAZO
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'EPP Próximo a Reemplazo',
        'Media',
        'El ' + EP.Nombre_EPP + ' entregado a ' + E.Nombre + ' ' + E.Apellidos + 
        ' debe reemplazarse el ' + CONVERT(VARCHAR, ENT.Fecha_Reemplazo_Estimada, 103) +
        ' (En ' + CAST(DATEDIFF(DAY, GETDATE(), ENT.Fecha_Reemplazo_Estimada) AS VARCHAR) + ' días)',
        ENT.Fecha_Reemplazo_Estimada,
        'EPP',
        ENT.id_entrega,
        'Pendiente',
        '["' + @CorreoCoordinadorSST + '"]'
    FROM ENTREGA_EPP ENT
    JOIN EMPLEADO E ON ENT.id_empleado = E.id_empleado
    JOIN EPP EP ON ENT.id_epp = EP.id_epp
    WHERE E.Estado = 1
    AND ENT.Fecha_Reemplazo_Estimada IS NOT NULL
    AND DATEDIFF(DAY, GETDATE(), ENT.Fecha_Reemplazo_Estimada) BETWEEN 0 AND @DiasAlertaEPP
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE IdRelacionado = ENT.id_entrega 
        AND ModuloOrigen = 'EPP' 
        AND Estado IN ('Pendiente', 'Enviada')
        AND CAST(FechaGeneracion AS DATE) >= DATEADD(DAY, -15, GETDATE())
    );

    -- 6. ALERTAS DE CAPACITACIONES PROGRAMADAS
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Capacitación Programada',
        'Media',
        'Recordatorio: La capacitación "' + C.Tema + '" está programada para el ' + 
        CONVERT(VARCHAR, C.Fecha_Programada, 103) + ' (' + C.Modalidad + ', ' + 
        CAST(C.Duracion_Horas AS VARCHAR) + ' horas)',
        C.Fecha_Programada,
        'CAPACITACION',
        C.id_capacitacion,
        'Pendiente',
        '["' + ISNULL(E.Correo, @CorreoCoordinadorSST) + '"]'
    FROM CAPACITACION C
    LEFT JOIN EMPLEADO E ON C.Responsable = E.id_empleado
    WHERE C.Estado = 'Programada'
    AND DATEDIFF(DAY, GETDATE(), C.Fecha_Programada) BETWEEN 0 AND 7
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE IdRelacionado = C.id_capacitacion 
        AND ModuloOrigen = 'CAPACITACION' 
        AND Estado IN ('Pendiente', 'Enviada')
        AND CAST(FechaGeneracion AS DATE) >= DATEADD(DAY, -2, GETDATE())
    );

    -- 7. ALERTAS DE MANTENIMIENTO DE EQUIPOS
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Mantenimiento de Equipo Programado',
        'Alta',
        'El equipo "' + EQ.Nombre + '" (' + EQ.Tipo + ') requiere mantenimiento para el ' + 
        CONVERT(VARCHAR, EQ.FechaProximoMantenimiento, 103),
        EQ.FechaProximoMantenimiento,
        'EQUIPO',
        EQ.id_equipo,
        'Pendiente',
        '["' + @CorreoCoordinadorSST + '"]'
    FROM EQUIPO EQ
    WHERE EQ.Estado = 'Operativo'
    AND EQ.FechaProximoMantenimiento IS NOT NULL
    AND DATEDIFF(DAY, GETDATE(), EQ.FechaProximoMantenimiento) BETWEEN 0 AND 15
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE IdRelacionado = EQ.id_equipo 
        AND ModuloOrigen = 'EQUIPO' 
        AND Estado IN ('Pendiente', 'Enviada')
        AND CAST(FechaGeneracion AS DATE) >= DATEADD(DAY, -7, GETDATE())
    );

    -- 8. ALERTAS DE ACCIDENTES NO REPORTADOS A ARL
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Accidente sin Reportar ARL',
        'Crítica',
        'URGENTE: Accidente de Trabajo de ' + E.Nombre + ' ' + E.Apellidos + 
        ' ocurrido el ' + CONVERT(VARCHAR, EV.Fecha_Evento, 103) + 
        ' NO ha sido reportado a la ARL. Plazo legal: 2 días hábiles',
        EV.Fecha_Evento,
        'EVENTO_ARL',
        EV.id_evento,
        'Pendiente',
        '["' + @CorreoCoordinadorSST + '","' + @CorreoCEO + '"]'
    FROM EVENTO EV
    JOIN EMPLEADO E ON EV.id_empleado = E.id_empleado
    WHERE EV.Tipo_Evento = 'Accidente de Trabajo'
    AND EV.Reportado_ARL = 0
    AND DATEDIFF(DAY, EV.Fecha_Evento, GETDATE()) >= 1
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE IdRelacionado = EV.id_evento 
        AND ModuloOrigen = 'EVENTO_ARL' 
        AND Estado IN ('Pendiente', 'Enviada')
    );

    -- Retornar resumen de alertas generadas
    SELECT 
        COUNT(*) AS TotalAlertasGeneradas,
        SUM(CASE WHEN Prioridad = 'Crítica' THEN 1 ELSE 0 END) AS Criticas,
        SUM(CASE WHEN Prioridad = 'Alta' THEN 1 ELSE 0 END) AS Altas,
        SUM(CASE WHEN Prioridad = 'Media' THEN 1 ELSE 0 END) AS Medias,
        SUM(CASE WHEN Prioridad = 'Informativa' THEN 1 ELSE 0 END) AS Informativas
    FROM ALERTA
    WHERE CAST(FechaGeneracion AS DATE) = CAST(GETDATE() AS DATE);
END
GO
