USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[CONVERSACION_AGENTE]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVERSACION_AGENTE](
	[id_conversacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario_autorizado] [int] NULL,
	[CorreoOrigen] [nvarchar](150) NOT NULL,
	[Asunto] [nvarchar](300) NULL,
	[FechaHoraRecepcion] [datetime] NOT NULL,
	[TipoSolicitud] [nvarchar](100) NULL,
	[ContenidoOriginal] [nvarchar](max) NULL,
	[InterpretacionAgente] [nvarchar](max) NULL,
	[RespuestaGenerada] [nvarchar](max) NULL,
	[AccionesRealizadas] [nvarchar](max) NULL,
	[FechaHoraRespuesta] [datetime] NULL,
	[Estado] [nvarchar](50) NULL,
	[ConfianzaRespuesta] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conversacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_Conversacion_Fecha]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Conversacion_Fecha] ON [dbo].[CONVERSACION_AGENTE]
(
	[FechaHoraRecepcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Conversacion_Usuario]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Conversacion_Usuario] ON [dbo].[CONVERSACION_AGENTE]
(
	[id_usuario_autorizado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONVERSACION_AGENTE] ADD  DEFAULT ('Procesada') FOR [Estado]
GO
ALTER TABLE [dbo].[CONVERSACION_AGENTE]  WITH CHECK ADD FOREIGN KEY([id_usuario_autorizado])
REFERENCES [dbo].[USUARIOS_AUTORIZADOS] ([id_autorizado])
GO
ALTER TABLE [dbo].[CONVERSACION_AGENTE]  WITH CHECK ADD CHECK  (([Estado]='Error' OR [Estado]='Procesada' OR [Estado]='En Proceso' OR [Estado]='Recibida'))
GO
/****** Object:  Trigger [dbo].[TR_CONVERSACION_AGENTE_Log]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 6: Registrar en LOG_AGENTE al procesar conversación
-- ============================================================
CREATE   TRIGGER [dbo].[TR_CONVERSACION_AGENTE_Log]
ON [dbo].[CONVERSACION_AGENTE]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Registrar evento en LOG_AGENTE
    INSERT INTO LOG_AGENTE (id_conversacion, TipoEvento, Descripcion, Exitoso)
    SELECT 
        i.id_conversacion,
        CASE 
            WHEN i.Estado = 'Procesada' THEN 'Conversación Procesada'
            WHEN i.Estado = 'Error' THEN 'Error en Procesamiento'
            ELSE 'Conversación Recibida'
        END,
        'Usuario: ' + i.CorreoOrigen + ' - Tipo: ' + ISNULL(i.TipoSolicitud, 'N/A'),
        CASE WHEN i.Estado = 'Procesada' THEN 1 ELSE 0 END
    FROM inserted i;
END
GO
ALTER TABLE [dbo].[CONVERSACION_AGENTE] ENABLE TRIGGER [TR_CONVERSACION_AGENTE_Log]
GO
