USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[COMPETENCIA_SST]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPETENCIA_SST](
	[id_competencia] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NULL,
	[TipoCompetencia] [nvarchar](100) NOT NULL,
	[NivelCompetencia] [nvarchar](50) NULL,
	[FechaCertificacion] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[EntidadCertificadora] [nvarchar](200) NULL,
	[NumeroCertificado] [nvarchar](100) NULL,
	[RutaCertificado] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_competencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPETENCIA_SST]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[COMPETENCIA_SST]  WITH CHECK ADD CHECK  (([NivelCompetencia]='Certificado' OR [NivelCompetencia]='Avanzado' OR [NivelCompetencia]='Intermedio' OR [NivelCompetencia]='Básico'))
GO
