USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerarAlertasVencimientos]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 6: Generación de Alertas (Ajustado para la tabla ALERTA extendida)
CREATE   PROCEDURE [dbo].[sp_GenerarAlertasVencimientos]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Configuración: Leer los días de alerta (si están configurados)
    DECLARE @DiasAlertaEMO INT = 45;
    DECLARE @DiasAlertaComite INT = 60;
    
    -- 1. Exámenes médicos próximos a vencer (45 días)
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, DestinatariosCorreo, Estado)
    SELECT 
        'Vencimiento EMO', 'Alta', 
        CONCAT('El EMO periódico de ', e.Nombre, ' ', e.Apellidos, ' vence el ', CONVERT(NVARCHAR, ex.Fecha_Vencimiento, 103), '.'), 
        ex.Fecha_Vencimiento, 'EXAMEN_MEDICO', ex.id_examen, 
        (SELECT Correo FROM EMPLEADO WHERE id_empleado = (SELECT CAST(Valor AS INT) FROM CONFIG_AGENTE WHERE Clave = 'ID_COORD_SST')) AS Destinatario,
        'Pendiente'
    FROM EXAMEN_MEDICO ex INNER JOIN EMPLEADO e ON e.id_empleado = ex.id_empleado
    WHERE DATEDIFF(DAY, GETDATE(), ex.Fecha_Vencimiento) BETWEEN 0 AND @DiasAlertaEMO 
    AND ex.Tipo_Examen = 'Periodico' AND e.Estado = 1
    AND NOT EXISTS (SELECT 1 FROM ALERTA WHERE IdRelacionado = ex.id_examen AND ModuloOrigen = 'EXAMEN_MEDICO' AND Estado IN ('Pendiente', 'Enviada'));
    
    -- 2. Tareas vencidas
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, DestinatariosCorreo, Estado)
    SELECT 
        'Tarea Vencida', 'Crítica', 
        CONCAT('Tarea VENCIDA: ', T.Descripcion, '. Responsable: ', E.Nombre, ' ', E.Apellidos), 
        T.Fecha_Vencimiento, 'TAREA', T.id_tarea, 
        E.Correo, 'Pendiente'
    FROM TAREA T INNER JOIN EMPLEADO E ON T.id_empleado_responsable = E.id_empleado
    WHERE T.Estado = 'Vencida'
    AND NOT EXISTS (SELECT 1 FROM ALERTA WHERE IdRelacionado = T.id_tarea AND ModuloOrigen = 'TAREA' AND Tipo = 'Tarea Vencida' AND Estado IN ('Pendiente', 'Enviada'));
    
    -- 3. Mantenimiento de Equipos próximos (30 días)
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, DestinatariosCorreo, Estado)
    SELECT 
        'Mantenimiento Próximo', 'Alta', 
        CONCAT('Mantenimiento próximo para: ', EQ.Nombre, ' (Cod: ', EQ.CodigoInterno, ').'), 
        EQ.FechaProximoMantenimiento, 'EQUIPO', EQ.id_equipo, 
        (SELECT Correo FROM EMPLEADO WHERE id_empleado = EQ.Responsable), 'Pendiente'
    FROM EQUIPO EQ
    WHERE DATEDIFF(DAY, GETDATE(), EQ.FechaProximoMantenimiento) BETWEEN 0 AND 30
    AND NOT EXISTS (SELECT 1 FROM ALERTA WHERE IdRelacionado = EQ.id_equipo AND ModuloOrigen = 'EQUIPO' AND Estado IN ('Pendiente', 'Enviada'));

END;
GO
