USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Registrar_Conversacion_Agente]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 8: Registrar Conversación del Agente
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Registrar_Conversacion_Agente]
    @CorreoOrigen NVARCHAR(150),
    @Asunto NVARCHAR(300),
    @ContenidoOriginal NVARCHAR(MAX),
    @TipoSolicitud NVARCHAR(100),
    @InterpretacionAgente NVARCHAR(MAX) = NULL,
    @RespuestaGenerada NVARCHAR(MAX) = NULL,
    @AccionesRealizadas NVARCHAR(MAX) = NULL,
    @ConfianzaRespuesta DECIMAL(3,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @IdUsuario INT;
    
    -- Verificar si el correo está autorizado
    SELECT @IdUsuario = id_autorizado 
    FROM USUARIOS_AUTORIZADOS 
    WHERE Correo_Electronico = @CorreoOrigen AND Estado = 1;
    
    IF @IdUsuario IS NULL
    BEGIN
        SELECT 'Usuario no autorizado' AS Error, @CorreoOrigen AS Correo;
        RETURN;
    END
    
    -- Registrar conversación
    INSERT INTO CONVERSACION_AGENTE (
        id_usuario_autorizado,
        CorreoOrigen,
        Asunto,
        FechaHoraRecepcion,
        TipoSolicitud,
        ContenidoOriginal,
        InterpretacionAgente,
        RespuestaGenerada,
        AccionesRealizadas,
        FechaHoraRespuesta,
        Estado,
        ConfianzaRespuesta
    )
    VALUES (
        @IdUsuario,
        @CorreoOrigen,
        @Asunto,
        GETDATE(),
        @TipoSolicitud,
        @ContenidoOriginal,
        @InterpretacionAgente,
        @RespuestaGenerada,
        @AccionesRealizadas,
        CASE WHEN @RespuestaGenerada IS NOT NULL THEN GETDATE() ELSE NULL END,
        CASE WHEN @RespuestaGenerada IS NOT NULL THEN 'Procesada' ELSE 'En Proceso' END,
        @ConfianzaRespuesta
    );
    
    SELECT 
        SCOPE_IDENTITY() AS id_conversacion, 
        'Conversación registrada exitosamente' AS Mensaje,
        @TipoSolicitud AS TipoSolicitud;
END
GO
