USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EVALUACION_LEGAL]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVALUACION_LEGAL](
	[id_evaluacion] [int] IDENTITY(1,1) NOT NULL,
	[id_requisito] [int] NULL,
	[FechaEvaluacion] [date] NOT NULL,
	[EstadoCumplimiento] [nvarchar](50) NOT NULL,
	[Evidencias] [nvarchar](max) NULL,
	[ResponsableEvaluacion] [int] NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVALUACION_LEGAL]  WITH CHECK ADD FOREIGN KEY([id_requisito])
REFERENCES [dbo].[REQUISITO_LEGAL] ([id_requisito])
GO
ALTER TABLE [dbo].[EVALUACION_LEGAL]  WITH CHECK ADD FOREIGN KEY([ResponsableEvaluacion])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EVALUACION_LEGAL]  WITH CHECK ADD CHECK  (([EstadoCumplimiento]='No Aplica' OR [EstadoCumplimiento]='No Cumple' OR [EstadoCumplimiento]='Cumple Parcialmente' OR [EstadoCumplimiento]='Cumple'))
GO
