USE [SG_SST_AgenteInteligente]
GO
/****** Object:  View [dbo].[VW_Historial_Accidentalidad]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VISTA 5: Historial de Accidentalidad
-- ============================================================
CREATE   VIEW [dbo].[VW_Historial_Accidentalidad] AS
SELECT 
    EV.id_evento,
    EV.Tipo_Evento,
    EV.Fecha_Evento,
    YEAR(EV.Fecha_Evento) AS Anio,
    MONTH(EV.Fecha_Evento) AS Mes,
    DATENAME(MONTH, EV.Fecha_Evento) AS Nombre_Mes,
    E.Nombre + ' ' + E.Apellidos AS Empleado,
    E.Area,
    E.Cargo,
    EV.Lugar_Evento,
    EV.Descripcion_Evento,
    EV.Parte_Cuerpo_Afectada,
    EV.Naturaleza_Lesion,
    EV.Dias_Incapacidad,
    EV.ClasificacionIncapacidad,
    EV.Reportado_ARL,
    EV.Fecha_Reporte_ARL,
    EV.Estado_Investigacion,
    EV.Causas_Inmediatas,
    EV.Causas_Basicas
FROM EVENTO EV
INNER JOIN EMPLEADO E ON EV.id_empleado = E.id_empleado;
GO
