USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[CATALOGO_PELIGRO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOGO_PELIGRO](
	[id_catalogo_peligro] [int] IDENTITY(1,1) NOT NULL,
	[Clasificacion] [nvarchar](50) NOT NULL,
	[TipoPeligro] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_catalogo_peligro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATALOGO_PELIGRO] ON 

INSERT [dbo].[CATALOGO_PELIGRO] ([id_catalogo_peligro], [Clasificacion], [TipoPeligro], [Descripcion]) VALUES (1, N'Físico', N'Ruido', N'Exposición a niveles de presión sonora superiores a 85 dB')
INSERT [dbo].[CATALOGO_PELIGRO] ([id_catalogo_peligro], [Clasificacion], [TipoPeligro], [Descripcion]) VALUES (2, N'Biomecánico', N'Posturas Prolongadas', N'Mantenimiento de postura sedente por periodos prolongados')
INSERT [dbo].[CATALOGO_PELIGRO] ([id_catalogo_peligro], [Clasificacion], [TipoPeligro], [Descripcion]) VALUES (3, N'Psicosocial', N'Estrés Laboral', N'Demandas cuantitativas y cualitativas excesivas')
SET IDENTITY_INSERT [dbo].[CATALOGO_PELIGRO] OFF
GO
ALTER TABLE [dbo].[CATALOGO_PELIGRO]  WITH CHECK ADD CHECK  (([Clasificacion]='Fenómenos Naturales' OR [Clasificacion]='Condiciones de Seguridad' OR [Clasificacion]='Biomecánico' OR [Clasificacion]='Psicosocial' OR [Clasificacion]='Químico' OR [Clasificacion]='Físico' OR [Clasificacion]='Biológico'))
GO
