USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[MIEMBRO_BRIGADA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIEMBRO_BRIGADA](
	[id_empleado] [int] NOT NULL,
	[id_brigada] [int] NOT NULL,
	[Rol] [nvarchar](100) NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[CertificacionVigente] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC,
	[id_brigada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MIEMBRO_BRIGADA] ADD  DEFAULT ((0)) FOR [CertificacionVigente]
GO
ALTER TABLE [dbo].[MIEMBRO_BRIGADA]  WITH CHECK ADD FOREIGN KEY([id_brigada])
REFERENCES [dbo].[BRIGADA] ([id_brigada])
GO
ALTER TABLE [dbo].[MIEMBRO_BRIGADA]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
