USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EVENTO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO](
	[id_evento] [int] IDENTITY(1000,1) NOT NULL,
	[Tipo_Evento] [nvarchar](50) NOT NULL,
	[Fecha_Evento] [datetime] NOT NULL,
	[Hora_Evento] [time](7) NULL,
	[id_empleado] [int] NULL,
	[Lugar_Evento] [nvarchar](200) NULL,
	[Descripcion_Evento] [nvarchar](max) NOT NULL,
	[Parte_Cuerpo_Afectada] [nvarchar](100) NULL,
	[Naturaleza_Lesion] [nvarchar](100) NULL,
	[Mecanismo_Accidente] [nvarchar](200) NULL,
	[Testigos] [nvarchar](500) NULL,
	[Dias_Incapacidad] [int] NULL,
	[ClasificacionIncapacidad] [nvarchar](50) NULL,
	[Reportado_ARL] [bit] NULL,
	[Fecha_Reporte_ARL] [datetime] NULL,
	[Numero_Caso_ARL] [nvarchar](50) NULL,
	[Requiere_Investigacion] [bit] NULL,
	[Estado_Investigacion] [nvarchar](50) NULL,
	[Fecha_Investigacion] [date] NULL,
	[Causas_Inmediatas] [nvarchar](max) NULL,
	[Causas_Basicas] [nvarchar](max) NULL,
	[Analisis_Causas] [nvarchar](max) NULL,
	[id_responsable_investigacion] [int] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EVENTO] ON 

SET IDENTITY_INSERT [dbo].[EVENTO] OFF
GO
/****** Object:  Index [IDX_Evento_Fecha]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Evento_Fecha] ON [dbo].[EVENTO]
(
	[Fecha_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Evento_Tipo]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Evento_Tipo] ON [dbo].[EVENTO]
(
	[Tipo_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVENTO] ADD  DEFAULT ((0)) FOR [Dias_Incapacidad]
GO
ALTER TABLE [dbo].[EVENTO] ADD  DEFAULT ((0)) FOR [Reportado_ARL]
GO
ALTER TABLE [dbo].[EVENTO] ADD  DEFAULT ((1)) FOR [Requiere_Investigacion]
GO
ALTER TABLE [dbo].[EVENTO] ADD  DEFAULT ('Pendiente') FOR [Estado_Investigacion]
GO
ALTER TABLE [dbo].[EVENTO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD FOREIGN KEY([id_responsable_investigacion])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD CHECK  (([ClasificacionIncapacidad]='Sin Incapacidad' OR [ClasificacionIncapacidad]='Muerte' OR [ClasificacionIncapacidad]='Permanente Total' OR [ClasificacionIncapacidad]='Permanente Parcial' OR [ClasificacionIncapacidad]='Temporal'))
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD CHECK  (([Estado_Investigacion]='Cerrada' OR [Estado_Investigacion]='En Proceso' OR [Estado_Investigacion]='Pendiente'))
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD CHECK  (([Tipo_Evento]='Condición Insegura' OR [Tipo_Evento]='Acto Inseguro' OR [Tipo_Evento]='Enfermedad Laboral' OR [Tipo_Evento]='Incidente' OR [Tipo_Evento]='Accidente de Trabajo'))
GO
/****** Object:  Trigger [dbo].[TR_EVENTO_CrearAlertaAT]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 5: Crear Alerta Crítica al Registrar Accidente de Trabajo
-- ============================================================
CREATE   TRIGGER [dbo].[TR_EVENTO_CrearAlertaAT]
ON [dbo].[EVENTO]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CorreoCoordinadorSST NVARCHAR(150);
    DECLARE @CorreoCEO NVARCHAR(150);
    
    SELECT @CorreoCoordinadorSST = Valor FROM CONFIG_AGENTE WHERE Clave = 'CORREO_COORDINADOR_SST';
    SELECT @CorreoCEO = Valor FROM CONFIG_AGENTE WHERE Clave = 'CORREO_CEO';
    
    -- Crear alerta crítica para accidentes de trabajo
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Accidente de Trabajo Registrado', 'Crítica',
        'URGENTE: Se ha registrado un Accidente de Trabajo. Empleado: ' + E.Nombre + ' ' + E.Apellidos + 
        '. Fecha: ' + CONVERT(VARCHAR, i.Fecha_Evento, 103) + 
        '. Debe reportarse a la ARL en máximo 2 días hábiles.',
        i.Fecha_Evento, 'EVENTO_NUEVO', i.id_evento, 'Pendiente',
        '["' + @CorreoCoordinadorSST + '","' + @CorreoCEO + '"]'
    FROM inserted i
    INNER JOIN EMPLEADO E ON i.id_empleado = E.id_empleado
    WHERE i.Tipo_Evento = 'Accidente de Trabajo';
END
GO
ALTER TABLE [dbo].[EVENTO] ENABLE TRIGGER [TR_EVENTO_CrearAlertaAT]
GO
/****** Object:  Trigger [dbo].[TR_EVENTO_PreventDelete]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 8: Prevenir la eliminación de Accidentes de Trabajo (INTEGRIDAD)
-- ============================================================
CREATE   TRIGGER [dbo].[TR_EVENTO_PreventDelete]
ON [dbo].[EVENTO]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- No permitir eliminación de eventos de accidentes de trabajo
    IF EXISTS (SELECT 1 FROM deleted WHERE Tipo_Evento = 'Accidente de Trabajo')
    BEGIN
        RAISERROR('No se pueden eliminar registros de Accidentes de Trabajo. Solo se permite actualizar el estado y la investigación.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END
    
    -- Permitir eliminación de otros tipos (Incidentes, Actos Inseguros, etc.)
    DELETE FROM EVENTO
    WHERE id_evento IN (SELECT id_evento FROM deleted WHERE Tipo_Evento <> 'Accidente de Trabajo');
END
GO
ALTER TABLE [dbo].[EVENTO] ENABLE TRIGGER [TR_EVENTO_PreventDelete]
GO
/****** Object:  Trigger [dbo].[TR_EVENTO_SeguimientoIncapacidad]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 18: Crear alerta de seguimiento al aumentar Días_Incapacidad
-- ============================================================
CREATE   TRIGGER [dbo].[TR_EVENTO_SeguimientoIncapacidad]
ON [dbo].[EVENTO]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CorreoCoordinadorSST NVARCHAR(150);
    SELECT @CorreoCoordinadorSST = Valor FROM CONFIG_AGENTE WHERE Clave = 'CORREO_COORDINADOR_SST';
    
    -- Si Días_Incapacidad aumenta o pasa de 0 a > 0
    IF EXISTS (
        SELECT 1 FROM inserted i
        INNER JOIN deleted d ON i.id_evento = d.id_evento
        WHERE i.Tipo_Evento = 'Accidente de Trabajo'
        AND i.Dias_Incapacidad > d.Dias_Incapacidad
    )
    BEGIN
        INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
        SELECT 
            'Actualización de Incapacidad', 'Alta',
            'El accidente de trabajo del empleado ' + E.Nombre + ' ' + E.Apellidos + 
            ' ahora tiene ' + CAST(i.Dias_Incapacidad AS VARCHAR) + ' días de incapacidad. Requiere seguimiento.',
            i.Fecha_Evento, 'EVENTO_SEGUIMIENTO', i.id_evento, 'Pendiente',
            '["' + @CorreoCoordinadorSST + '"]'
        FROM inserted i
        INNER JOIN deleted d ON i.id_evento = d.id_evento
        INNER JOIN EMPLEADO E ON i.id_empleado = E.id_empleado
        WHERE i.Tipo_Evento = 'Accidente de Trabajo'
        AND i.Dias_Incapacidad > d.Dias_Incapacidad;
    END
END
GO
ALTER TABLE [dbo].[EVENTO] ENABLE TRIGGER [TR_EVENTO_SeguimientoIncapacidad]
GO
