USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[ENTREGA_EPP]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTREGA_EPP](
	[id_entrega] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NULL,
	[id_epp] [int] NULL,
	[Fecha_Entrega] [date] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Vida_Util_Meses] [int] NULL,
	[Fecha_Reemplazo_Estimada] [date] NULL,
	[Entregado_Por] [int] NULL,
	[Firma_Recibido] [bit] NULL,
	[RutaActaEntrega] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_entrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Entrega_Empleado]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Entrega_Empleado] ON [dbo].[ENTREGA_EPP]
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ENTREGA_EPP] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[ENTREGA_EPP] ADD  DEFAULT ((0)) FOR [Firma_Recibido]
GO
ALTER TABLE [dbo].[ENTREGA_EPP]  WITH CHECK ADD FOREIGN KEY([Entregado_Por])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[ENTREGA_EPP]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[ENTREGA_EPP]  WITH CHECK ADD FOREIGN KEY([id_epp])
REFERENCES [dbo].[EPP] ([id_epp])
GO
/****** Object:  Trigger [dbo].[TR_ENTREGA_EPP_Stock]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 9: Reducir Stock de EPP y Crear Alerta de Stock Bajo
-- ============================================================
CREATE   TRIGGER [dbo].[TR_ENTREGA_EPP_Stock]
ON [dbo].[ENTREGA_EPP]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CorreoCoordinadorSST NVARCHAR(150);
    SELECT @CorreoCoordinadorSST = Valor FROM CONFIG_AGENTE WHERE Clave = 'CORREO_COORDINADOR_SST';
    
    -- 1. Reducir stock disponible
    UPDATE EPP
    SET Stock_Disponible = Stock_Disponible - i.Cantidad
    FROM EPP
    INNER JOIN inserted i ON EPP.id_epp = i.id_epp;
    
    -- 2. Crear alerta si el stock es bajo (menos de 10 unidades)
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Stock Bajo de EPP', 'Media',
        'El EPP "' + EPP.Nombre_EPP + '" tiene stock bajo: ' + CAST(EPP.Stock_Disponible AS VARCHAR) + ' unidades disponibles.',
        'EPP_STOCK', EPP.id_epp, 'Pendiente',
        '["' + @CorreoCoordinadorSST + '"]'
    FROM EPP
    INNER JOIN inserted i ON EPP.id_epp = i.id_epp
    WHERE EPP.Stock_Disponible < 10
    AND NOT EXISTS (
        SELECT 1 FROM ALERTA 
        WHERE ModuloOrigen = 'EPP_STOCK' 
        AND IdRelacionado = EPP.id_epp 
        AND Estado = 'Pendiente'
        AND DATEDIFF(DAY, FechaGeneracion, GETDATE()) < 7 -- Re-alerta cada 7 días
    );
END
GO
ALTER TABLE [dbo].[ENTREGA_EPP] ENABLE TRIGGER [TR_ENTREGA_EPP_Stock]
GO
