USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[MANTENIMIENTO_EQUIPO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANTENIMIENTO_EQUIPO](
	[id_mantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_equipo] [int] NULL,
	[TipoMantenimiento] [nvarchar](50) NOT NULL,
	[FechaMantenimiento] [date] NOT NULL,
	[ProximoMantenimiento] [date] NULL,
	[ResponsableEjecucion] [nvarchar](200) NULL,
	[DescripcionActividades] [nvarchar](max) NULL,
	[Costo] [decimal](15, 2) NULL,
	[RutaReporte] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MANTENIMIENTO_EQUIPO]  WITH CHECK ADD FOREIGN KEY([id_equipo])
REFERENCES [dbo].[EQUIPO] ([id_equipo])
GO
ALTER TABLE [dbo].[MANTENIMIENTO_EQUIPO]  WITH CHECK ADD CHECK  (([TipoMantenimiento]='Calibración' OR [TipoMantenimiento]='Correctivo' OR [TipoMantenimiento]='Preventivo'))
GO
