USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[AMENAZA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMENAZA](
	[id_amenaza] [int] IDENTITY(1,1) NOT NULL,
	[TipoAmenaza] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[id_sede] [int] NULL,
	[Probabilidad] [nvarchar](50) NOT NULL,
	[Impacto] [nvarchar](50) NOT NULL,
	[NivelRiesgo] [nvarchar](50) NULL,
	[MedidasPrevencion] [nvarchar](max) NULL,
	[MedidasMitigacion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_amenaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AMENAZA]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDE] ([id_sede])
GO
ALTER TABLE [dbo].[AMENAZA]  WITH CHECK ADD CHECK  (([Impacto]='Crítico' OR [Impacto]='Alto' OR [Impacto]='Medio' OR [Impacto]='Bajo'))
GO
ALTER TABLE [dbo].[AMENAZA]  WITH CHECK ADD CHECK  (([Probabilidad]='Alta' OR [Probabilidad]='Media' OR [Probabilidad]='Baja'))
GO
ALTER TABLE [dbo].[AMENAZA]  WITH CHECK ADD CHECK  (([TipoAmenaza]='Biológica' OR [TipoAmenaza]='Social' OR [TipoAmenaza]='Tecnológica' OR [TipoAmenaza]='Natural'))
GO
