USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[VALORACION_PROB]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORACION_PROB](
	[id_probabilidad] [int] NOT NULL,
	[Nivel_Deficiencia] [int] NOT NULL,
	[Nivel_Exposicion] [int] NOT NULL,
	[Nivel_Probabilidad] [int] NOT NULL,
	[Interpretacion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_probabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VALORACION_PROB] ([id_probabilidad], [Nivel_Deficiencia], [Nivel_Exposicion], [Nivel_Probabilidad], [Interpretacion]) VALUES (1, 10, 4, 40, N'Muy Alto')
INSERT [dbo].[VALORACION_PROB] ([id_probabilidad], [Nivel_Deficiencia], [Nivel_Exposicion], [Nivel_Probabilidad], [Interpretacion]) VALUES (2, 10, 3, 30, N'Alto')
INSERT [dbo].[VALORACION_PROB] ([id_probabilidad], [Nivel_Deficiencia], [Nivel_Exposicion], [Nivel_Probabilidad], [Interpretacion]) VALUES (3, 6, 2, 12, N'Medio')
GO
