USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[VALORACION_CONSEC]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORACION_CONSEC](
	[id_consecuencia] [int] NOT NULL,
	[Nivel_Dano] [nvarchar](50) NOT NULL,
	[Valor_NC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_consecuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VALORACION_CONSEC] ([id_consecuencia], [Nivel_Dano], [Valor_NC]) VALUES (1, N'Mortal o Catastrófico', 100)
INSERT [dbo].[VALORACION_CONSEC] ([id_consecuencia], [Nivel_Dano], [Valor_NC]) VALUES (2, N'Muy Grave', 60)
INSERT [dbo].[VALORACION_CONSEC] ([id_consecuencia], [Nivel_Dano], [Valor_NC]) VALUES (3, N'Grave', 25)
GO
