USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[SIMULACRO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIMULACRO](
	[id_simulacro] [int] IDENTITY(1,1) NOT NULL,
	[TipoSimulacro] [nvarchar](100) NOT NULL,
	[id_sede] [int] NULL,
	[FechaProgramada] [date] NULL,
	[FechaRealizacion] [date] NOT NULL,
	[Alcance] [nvarchar](200) NULL,
	[NumeroParticipantes] [int] NULL,
	[TiempoEvacuacion] [time](7) NULL,
	[Responsable] [int] NULL,
	[ObjetivosAlcanzados] [bit] NULL,
	[LeccionesAprendidas] [nvarchar](max) NULL,
	[AccionesMejora] [nvarchar](max) NULL,
	[RutaInforme] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_simulacro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SIMULACRO]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDE] ([id_sede])
GO
ALTER TABLE [dbo].[SIMULACRO]  WITH CHECK ADD FOREIGN KEY([Responsable])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
