USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EPP]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EPP](
	[id_epp] [int] IDENTITY(6000,1) NOT NULL,
	[Codigo_EPP] [nvarchar](50) NOT NULL,
	[Nombre_EPP] [nvarchar](100) NOT NULL,
	[Tipo_EPP] [nvarchar](100) NULL,
	[Riesgo_Protegido] [nvarchar](100) NOT NULL,
	[Especificaciones] [nvarchar](max) NULL,
	[Certificacion] [nvarchar](200) NULL,
	[Stock_Disponible] [int] NULL,
	[Ubicacion_Almacen] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_epp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EPP] ON 

INSERT [dbo].[EPP] ([id_epp], [Codigo_EPP], [Nombre_EPP], [Tipo_EPP], [Riesgo_Protegido], [Especificaciones], [Certificacion], [Stock_Disponible], [Ubicacion_Almacen]) VALUES (6003, N'EPP-001', N'Gafas de Protección', N'Protección Visual', N'Partículas, Radiación', N'Lentes policarbonato, filtro UV', NULL, 50, NULL)
INSERT [dbo].[EPP] ([id_epp], [Codigo_EPP], [Nombre_EPP], [Tipo_EPP], [Riesgo_Protegido], [Especificaciones], [Certificacion], [Stock_Disponible], [Ubicacion_Almacen]) VALUES (6004, N'EPP-002', N'Protector Auditivo Tipo Copa', N'Protección Auditiva', N'Ruido', N'Atenuación 27 dB, ajustable', NULL, 30, NULL)
INSERT [dbo].[EPP] ([id_epp], [Codigo_EPP], [Nombre_EPP], [Tipo_EPP], [Riesgo_Protegido], [Especificaciones], [Certificacion], [Stock_Disponible], [Ubicacion_Almacen]) VALUES (6005, N'EPP-003', N'Silla Ergonómica Oficina', N'Ergonómico', N'Posturas Forzadas', N'Respaldo ajustable, soporte lumbar', NULL, 45, NULL)
SET IDENTITY_INSERT [dbo].[EPP] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EPP__DC727DD9F341686F]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[EPP] ADD UNIQUE NONCLUSTERED 
(
	[Codigo_EPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EPP] ADD  DEFAULT ((0)) FOR [Stock_Disponible]
GO
