USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[HALLAZGO_INSPECCION]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HALLAZGO_INSPECCION](
	[id_hallazgo] [int] IDENTITY(1,1) NOT NULL,
	[id_inspeccion] [int] NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[NivelRiesgo] [nvarchar](50) NOT NULL,
	[AccionRequerida] [nvarchar](max) NULL,
	[ResponsableAccion] [int] NULL,
	[FechaCompromiso] [date] NULL,
	[EstadoAccion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hallazgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HALLAZGO_INSPECCION] ADD  DEFAULT ('Pendiente') FOR [EstadoAccion]
GO
ALTER TABLE [dbo].[HALLAZGO_INSPECCION]  WITH CHECK ADD FOREIGN KEY([id_inspeccion])
REFERENCES [dbo].[INSPECCION] ([id_inspeccion])
GO
ALTER TABLE [dbo].[HALLAZGO_INSPECCION]  WITH CHECK ADD FOREIGN KEY([ResponsableAccion])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[HALLAZGO_INSPECCION]  WITH CHECK ADD CHECK  (([EstadoAccion]='Cerrada' OR [EstadoAccion]='En Proceso' OR [EstadoAccion]='Pendiente'))
GO
ALTER TABLE [dbo].[HALLAZGO_INSPECCION]  WITH CHECK ADD CHECK  (([NivelRiesgo]='Crítico' OR [NivelRiesgo]='Alto' OR [NivelRiesgo]='Medio' OR [NivelRiesgo]='Bajo'))
GO
