USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[ALERTA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERTA](
	[id_alerta] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](100) NOT NULL,
	[Prioridad] [nvarchar](20) NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[FechaGeneracion] [datetime] NULL,
	[FechaEvento] [date] NULL,
	[Estado] [nvarchar](20) NULL,
	[ModuloOrigen] [nvarchar](50) NULL,
	[IdRelacionado] [int] NULL,
	[DestinatariosCorreo] [nvarchar](max) NULL,
	[Enviada] [bit] NULL,
	[FechaEnvio] [datetime] NULL,
	[IntentosEnvio] [int] NULL,
	[UltimoError] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALERTA] ON 

INSERT [dbo].[ALERTA] ([id_alerta], [Tipo], [Prioridad], [Descripcion], [FechaGeneracion], [FechaEvento], [Estado], [ModuloOrigen], [IdRelacionado], [DestinatariosCorreo], [Enviada], [FechaEnvio], [IntentosEnvio], [UltimoError]) VALUES (1, N'Vencimiento EMO', N'Alta', N'El EMO periódico de Ana Pérez Torres vence el 24/11/2025.', CAST(N'2025-11-16T19:42:27.970' AS DateTime), CAST(N'2025-11-24' AS Date), N'Pendiente', N'EXAMEN_MEDICO', 3003, N'maria.gomez@digitalbulks.com', 0, NULL, 0, NULL)
INSERT [dbo].[ALERTA] ([id_alerta], [Tipo], [Prioridad], [Descripcion], [FechaGeneracion], [FechaEvento], [Estado], [ModuloOrigen], [IdRelacionado], [DestinatariosCorreo], [Enviada], [FechaEnvio], [IntentosEnvio], [UltimoError]) VALUES (2, N'Tarea Vencida', N'Crítica', N'Tarea VENCIDA: Capacitación en Prevención de Riesgos Psicosociales. Responsable: María Gómez Ruiz', CAST(N'2025-11-16T19:42:27.990' AS DateTime), CAST(N'2025-11-05' AS Date), N'Pendiente', N'TAREA', 2005, N'maria.gomez@digitalbulks.com', 0, NULL, 0, NULL)
INSERT [dbo].[ALERTA] ([id_alerta], [Tipo], [Prioridad], [Descripcion], [FechaGeneracion], [FechaEvento], [Estado], [ModuloOrigen], [IdRelacionado], [DestinatariosCorreo], [Enviada], [FechaEnvio], [IntentosEnvio], [UltimoError]) VALUES (3, N'Tarea Vencida', N'Crítica', N'Tarea VENCIDA: Auditoría Interna SG-SST 2024. Responsable: María Gómez Ruiz', CAST(N'2025-11-16T19:42:27.990' AS DateTime), CAST(N'2024-11-30' AS Date), N'Pendiente', N'TAREA', 2007, N'maria.gomez@digitalbulks.com', 0, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[ALERTA] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Alerta_Estado]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Alerta_Estado] ON [dbo].[ALERTA]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Alerta_Tipo]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Alerta_Tipo] ON [dbo].[ALERTA]
(
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALERTA] ADD  DEFAULT ('Media') FOR [Prioridad]
GO
ALTER TABLE [dbo].[ALERTA] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[ALERTA] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[ALERTA] ADD  DEFAULT ((0)) FOR [Enviada]
GO
ALTER TABLE [dbo].[ALERTA] ADD  DEFAULT ((0)) FOR [IntentosEnvio]
GO
ALTER TABLE [dbo].[ALERTA]  WITH CHECK ADD CHECK  (([Estado]='Cerrada' OR [Estado]='Leída' OR [Estado]='Enviada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[ALERTA]  WITH CHECK ADD CHECK  (([Prioridad]='Crítica' OR [Prioridad]='Alta' OR [Prioridad]='Media' OR [Prioridad]='Informativa'))
GO
