USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Monitorear_Tareas_Vencidas]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 1: Monitorear Tareas Vencidas
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Monitorear_Tareas_Vencidas]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Actualizar estado de tareas vencidas
    UPDATE TAREA 
    SET Estado = 'Vencida', 
        Fecha_Actualizacion = GETDATE()
    WHERE Estado IN ('Pendiente', 'En Curso') 
    AND Fecha_Vencimiento < CAST(GETDATE() AS DATE);
    
    -- Retornar tareas vencidas con información detallada
    SELECT 
        T.id_tarea,
        T.Descripcion,
        T.Tipo_Tarea,
        E.Nombre + ' ' + E.Apellidos AS Responsable,
        E.Correo AS CorreoResponsable,
        E.Area,
        T.Fecha_Vencimiento,
        DATEDIFF(DAY, T.Fecha_Vencimiento, GETDATE()) AS DiasVencidos, -- Nombre ajustado
        T.Prioridad,
        T.Origen_Tarea,
        T.AvancePorc
    FROM TAREA T 
    JOIN EMPLEADO E ON T.id_empleado_responsable = E.id_empleado
    WHERE T.Estado = 'Vencida'
    ORDER BY T.Prioridad DESC, T.Fecha_Vencimiento ASC;
END
GO
