USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[USUARIOS_AUTORIZADOS]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_AUTORIZADOS](
	[id_autorizado] [int] IDENTITY(1,1) NOT NULL,
	[Correo_Electronico] [nvarchar](150) NOT NULL,
	[Nombre_Persona] [nvarchar](100) NOT NULL,
	[Nivel_Acceso] [nvarchar](50) NOT NULL,
	[PuedeAprobar] [bit] NULL,
	[PuedeEditar] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_autorizado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USUARIOS_AUTORIZADOS] ON 

INSERT [dbo].[USUARIOS_AUTORIZADOS] ([id_autorizado], [Correo_Electronico], [Nombre_Persona], [Nivel_Acceso], [PuedeAprobar], [PuedeEditar], [FechaRegistro], [Estado]) VALUES (1, N'ceo@digitalbulks.com', N'Admin CEO', N'CEO', 1, 1, CAST(N'2025-11-14T10:15:22.750' AS DateTime), 1)
INSERT [dbo].[USUARIOS_AUTORIZADOS] ([id_autorizado], [Correo_Electronico], [Nombre_Persona], [Nivel_Acceso], [PuedeAprobar], [PuedeEditar], [FechaRegistro], [Estado]) VALUES (2, N'maria.gomez@digitalbulks.com', N'María Gómez Ruiz', N'Coordinador SST', 1, 1, CAST(N'2025-11-14T10:15:22.750' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[USUARIOS_AUTORIZADOS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__85947816FDCA1443]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[USUARIOS_AUTORIZADOS] ADD UNIQUE NONCLUSTERED 
(
	[Correo_Electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIOS_AUTORIZADOS] ADD  DEFAULT ((0)) FOR [PuedeAprobar]
GO
ALTER TABLE [dbo].[USUARIOS_AUTORIZADOS] ADD  DEFAULT ((0)) FOR [PuedeEditar]
GO
ALTER TABLE [dbo].[USUARIOS_AUTORIZADOS] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[USUARIOS_AUTORIZADOS] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[USUARIOS_AUTORIZADOS]  WITH CHECK ADD CHECK  (([Nivel_Acceso]='Consulta' OR [Nivel_Acceso]='Auditor' OR [Nivel_Acceso]='Gerente RRHH' OR [Nivel_Acceso]='Coordinador SST' OR [Nivel_Acceso]='CEO'))
GO
