USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[MIEMBRO_COMITE]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIEMBRO_COMITE](
	[id_empleado] [int] NOT NULL,
	[id_comite] [int] NOT NULL,
	[Rol_Miembro] [nvarchar](50) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC,
	[id_comite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MIEMBRO_COMITE]  WITH CHECK ADD FOREIGN KEY([id_comite])
REFERENCES [dbo].[COMITE] ([id_comite])
GO
ALTER TABLE [dbo].[MIEMBRO_COMITE]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[MIEMBRO_COMITE]  WITH CHECK ADD CHECK  (([Rol_Miembro]='Suplente' OR [Rol_Miembro]='Principal' OR [Rol_Miembro]='Secretario' OR [Rol_Miembro]='Presidente'))
GO
