USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Calcular_Indicadores_Siniestralidad]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 3: Calcular Indicadores de Siniestralidad
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Calcular_Indicadores_Siniestralidad]
    @Anio INT,
    @Periodo NVARCHAR(20) = NULL -- 'Q1', 'Q2', 'Q3', 'Q4' o NULL para anual
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @FechaInicio DATE, @FechaFin DATE;
    DECLARE @NumAccidentes INT, @DiasIncapacidad INT, @NumIncidentes INT;
    DECLARE @HorasHombreTrabajadas FLOAT, @PromedioTrabajadores FLOAT;
    
    -- Determinar rango de fechas
    IF @Periodo IS NULL
    BEGIN
        SET @FechaInicio = DATEFROMPARTS(@Anio, 1, 1);
        SET @FechaFin = DATEFROMPARTS(@Anio, 12, 31);
    END
    ELSE
    BEGIN
        IF @Periodo = 'Q1' BEGIN SET @FechaInicio = DATEFROMPARTS(@Anio, 1, 1); SET @FechaFin = DATEFROMPARTS(@Anio, 3, 31); END
        ELSE IF @Periodo = 'Q2' BEGIN SET @FechaInicio = DATEFROMPARTS(@Anio, 4, 1); SET @FechaFin = DATEFROMPARTS(@Anio, 6, 30); END
        ELSE IF @Periodo = 'Q3' BEGIN SET @FechaInicio = DATEFROMPARTS(@Anio, 7, 1); SET @FechaFin = DATEFROMPARTS(@Anio, 9, 30); END
        ELSE IF @Periodo = 'Q4' BEGIN SET @FechaInicio = DATEFROMPARTS(@Anio, 10, 1); SET @FechaFin = DATEFROMPARTS(@Anio, 12, 31); END
    END
    
    -- Calcular métricas de accidentalidad
    SELECT 
        @NumAccidentes = COUNT(CASE WHEN Tipo_Evento = 'Accidente de Trabajo' THEN 1 END),
        @DiasIncapacidad = ISNULL(SUM(CASE WHEN Tipo_Evento = 'Accidente de Trabajo' THEN Dias_Incapacidad ELSE 0 END), 0),
        @NumIncidentes = COUNT(CASE WHEN Tipo_Evento = 'Incidente' THEN 1 END)
    FROM EVENTO 
    WHERE CAST(Fecha_Evento AS DATE) BETWEEN @FechaInicio AND @FechaFin;

    -- Calcular promedio de trabajadores
    SELECT @PromedioTrabajadores = CAST(AVG(CAST(NumeroTrabajadores AS FLOAT)) AS FLOAT)
    FROM EMPRESA;
    
    -- Si no hay dato en EMPRESA, contar empleados activos
    IF @PromedioTrabajadores IS NULL OR @PromedioTrabajadores = 0
    BEGIN
        SELECT @PromedioTrabajadores = CAST(COUNT(*) AS FLOAT) FROM EMPLEADO WHERE Estado = 1;
    END
    
    -- Calcular HHT (Horas Hombre Trabajadas)
    DECLARE @Meses INT = DATEDIFF(MONTH, @FechaInicio, @FechaFin) + 1;
    SET @HorasHombreTrabajadas = @PromedioTrabajadores * 8 * 22 * @Meses;

    -- Calcular indicadores
    DECLARE @IF FLOAT = 0; -- Índice de Frecuencia
    DECLARE @IS FLOAT = 0; -- Índice de Severidad
    DECLARE @ILI FLOAT = 0; -- Índice de Lesiones Incapacitantes
    DECLARE @IFA FLOAT = 0; -- Índice de Frecuencia de Accidentalidad
    
    IF @HorasHombreTrabajadas > 0
    BEGIN
        SET @IF = (@NumAccidentes * 240000.0) / @HorasHombreTrabajadas;
        SET @IS = (@DiasIncapacidad * 240000.0) / @HorasHombreTrabajadas;
        SET @ILI = (@IF * @IS) / 1000.0;
        SET @IFA = (@NumAccidentes * 100000.0) / @HorasHombreTrabajadas; -- Fórmula alternativa
    END

    -- Retornar resultados
    SELECT 
        @Anio AS Anio,
        ISNULL(@Periodo, 'Anual') AS Periodo,
        @FechaInicio AS FechaInicio,
        @FechaFin AS FechaFin,
        @NumAccidentes AS Accidentes_Trabajo,
        @NumIncidentes AS Incidentes,
        @DiasIncapacidad AS Dias_Incapacidad,
        CAST(@PromedioTrabajadores AS INT) AS Promedio_Trabajadores,
        CAST(@HorasHombreTrabajadas AS DECIMAL(15,2)) AS HHT_Estimadas,
        CAST(@IF AS DECIMAL(10,2)) AS Indice_Frecuencia_IF,
        CAST(@IFA AS DECIMAL(10,2)) AS Indice_Frecuencia_Accidentalidad_IFA,
        CAST(@IS AS DECIMAL(10,2)) AS Indice_Severidad_IS,
        CAST(@ILI AS DECIMAL(10,2)) AS Indice_Lesiones_Incapacitantes_ILI,
        CASE 
            WHEN @IF < 5 THEN 'Excelente'
            WHEN @IF BETWEEN 5 AND 10 THEN 'Bueno'
            WHEN @IF BETWEEN 10 AND 20 THEN 'Aceptable'
            ELSE 'Requiere Intervención'
        END AS Interpretacion_IF;
END
GO
