USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](200) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[ActividadEconomica] [nvarchar](200) NOT NULL,
	[ClaseRiesgo] [int] NOT NULL,
	[NumeroTrabajadores] [int] NOT NULL,
	[DireccionPrincipal] [nvarchar](300) NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaConstitucion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPRESA] ON 

INSERT [dbo].[EMPRESA] ([id_empresa], [RazonSocial], [NIT], [ActividadEconomica], [ClaseRiesgo], [NumeroTrabajadores], [DireccionPrincipal], [Telefono], [FechaConstitucion]) VALUES (1, N'Digital Bulks S.A.S.', N'900.123.456-7', N'Desarrollo de Software y Consultoría IT', 1, 50, N'Calle 100 #10-50', N'+57 604 1234567', NULL)
SET IDENTITY_INSERT [dbo].[EMPRESA] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPRESA__C7DEC3C297ECEBD9]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[EMPRESA] ADD UNIQUE NONCLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPRESA] ADD  DEFAULT ((0)) FOR [NumeroTrabajadores]
GO
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD CHECK  (([ClaseRiesgo]>=(1) AND [ClaseRiesgo]<=(5)))
GO
