USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[LOG_AGENTE]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_AGENTE](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_conversacion] [int] NULL,
	[FechaHora] [datetime] NULL,
	[TipoEvento] [nvarchar](100) NULL,
	[ModuloAfectado] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Exitoso] [bit] NULL,
	[MensajeError] [nvarchar](max) NULL,
	[TiempoEjecucionMs] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOG_AGENTE] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[LOG_AGENTE]  WITH CHECK ADD FOREIGN KEY([id_conversacion])
REFERENCES [dbo].[CONVERSACION_AGENTE] ([id_conversacion])
GO
