USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Marcar_Alertas_Enviadas]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 10: Marcar Alertas como Enviadas
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Marcar_Alertas_Enviadas]
    @IdsAlertas NVARCHAR(MAX) -- Lista de IDs separados por coma
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE ALERTA
    SET Estado = 'Enviada',
        Enviada = 1,
        FechaEnvio = GETDATE(),
        IntentosEnvio = IntentosEnvio + 1
    WHERE id_alerta IN (SELECT value FROM STRING_SPLIT(@IdsAlertas, ','));
    
    -- Registrar en historial
    INSERT INTO HISTORIAL_NOTIFICACION (id_alerta, TipoNotificacion, Destinatarios, FechaEnvio, EstadoEnvio)
    SELECT 
        id_alerta,
        'Correo',
        DestinatariosCorreo,
        GETDATE(),
        'Exitoso'
    FROM ALERTA
    WHERE id_alerta IN (SELECT value FROM STRING_SPLIT(@IdsAlertas, ','));
    
    SELECT COUNT(*) AS AlertasActualizadas 
    FROM ALERTA
    WHERE id_alerta IN (SELECT value FROM STRING_SPLIT(@IdsAlertas, ','));
END
GO
