USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[HISTORIAL_NOTIFICACION]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_NOTIFICACION](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_alerta] [int] NULL,
	[TipoNotificacion] [nvarchar](50) NOT NULL,
	[Destinatarios] [nvarchar](max) NULL,
	[AsuntoMensaje] [nvarchar](300) NULL,
	[CuerpoMensaje] [nvarchar](max) NULL,
	[FechaEnvio] [datetime] NOT NULL,
	[EstadoEnvio] [nvarchar](50) NOT NULL,
	[MensajeError] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HISTORIAL_NOTIFICACION]  WITH CHECK ADD FOREIGN KEY([id_alerta])
REFERENCES [dbo].[ALERTA] ([id_alerta])
GO
ALTER TABLE [dbo].[HISTORIAL_NOTIFICACION]  WITH CHECK ADD CHECK  (([EstadoEnvio]='Pendiente Reintento' OR [EstadoEnvio]='Fallido' OR [EstadoEnvio]='Exitoso'))
GO
ALTER TABLE [dbo].[HISTORIAL_NOTIFICACION]  WITH CHECK ADD CHECK  (([TipoNotificacion]='Sistema' OR [TipoNotificacion]='WhatsApp' OR [TipoNotificacion]='SMS' OR [TipoNotificacion]='Correo'))
GO
