USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[RESULTADO_INDICADOR]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULTADO_INDICADOR](
	[id_resultado] [int] IDENTITY(1,1) NOT NULL,
	[id_indicador] [int] NULL,
	[Periodo] [nvarchar](50) NOT NULL,
	[Valor] [decimal](10, 2) NOT NULL,
	[FechaCalculo] [date] NULL,
	[Analisis] [nvarchar](max) NULL,
	[CumpleMeta] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RESULTADO_INDICADOR] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[RESULTADO_INDICADOR]  WITH CHECK ADD FOREIGN KEY([id_indicador])
REFERENCES [dbo].[INDICADOR] ([id_indicador])
GO
