USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Generar_Tareas_Vigencia]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 2: Generación automática de tareas por vencimientos (El SP anterior que proveíste)
CREATE   PROCEDURE [dbo].[SP_Generar_Tareas_Vigencia]
    @IdCoordinadorSST INT = 101 
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @TareasGeneradas INT = 0;
    
    -- Lógica para Tareas por EMO (45 días), Comités (60 días), Equipos (30 días) y Auditoría Anual
    
    -- 1. Tareas por Exámenes Médicos Periódicos próximos a vencer (45 días)
    INSERT INTO TAREA (Descripcion, Fecha_Creacion, Fecha_Vencimiento, Estado, id_empleado_responsable, Origen_Tarea, Prioridad, Tipo_Tarea)
    SELECT 
        'Programar EMO Periódico para ' + E.Nombre + ' ' + E.Apellidos + ' - Vence: ' + CONVERT(NVARCHAR, EM.Fecha_Vencimiento, 103),
        GETDATE(), DATEADD(DAY, -5, EM.Fecha_Vencimiento), 'Pendiente', @IdCoordinadorSST, 'Sistema - Vencimiento EMO', 'Alta', 'Gestión Médica'
    FROM EXAMEN_MEDICO EM INNER JOIN EMPLEADO E ON EM.id_empleado = E.id_empleado
    WHERE EM.Tipo_Examen = 'Periodico' AND E.Estado = 1 AND DATEDIFF(DAY, GETDATE(), EM.Fecha_Vencimiento) BETWEEN 0 AND 45
    AND NOT EXISTS (
        SELECT 1 FROM TAREA T WHERE T.Origen_Tarea = 'Sistema - Vencimiento EMO' AND T.Descripcion LIKE '%' + E.Nombre + ' ' + E.Apellidos + '%' AND T.Estado IN ('Pendiente', 'En Curso')
    );
    SET @TareasGeneradas = @TareasGeneradas + @@ROWCOUNT;
    
    -- 2. Tareas por Vencimiento de Comités (60 días)
    INSERT INTO TAREA (Descripcion, Fecha_Creacion, Fecha_Vencimiento, Estado, id_empleado_responsable, Origen_Tarea, Prioridad, Tipo_Tarea)
    SELECT 
        'Iniciar proceso de elección y conformación de nuevo ' + C.Tipo_Comite + ' - Vence: ' + CONVERT(NVARCHAR, C.Fecha_Vigencia, 103),
        GETDATE(), DATEADD(DAY, -15, C.Fecha_Vigencia), 'Pendiente', @IdCoordinadorSST, 'Sistema - Vencimiento Comité', 'Crítica', 'Legal Obligatoria'
    FROM COMITE C
    WHERE DATEDIFF(DAY, GETDATE(), C.Fecha_Vigencia) BETWEEN 0 AND 60 AND C.Estado = 'Vigente'
    AND NOT EXISTS (
        SELECT 1 FROM TAREA T WHERE T.Origen_Tarea = 'Sistema - Vencimiento Comité' AND T.Descripcion LIKE '%' + C.Tipo_Comite + '%' AND T.Estado IN ('Pendiente', 'En Curso')
    );
    SET @TareasGeneradas = @TareasGeneradas + @@ROWCOUNT;
    
    -- 3. Tareas por Mantenimiento de Equipos próximo (30 días)
    INSERT INTO TAREA (Descripcion, Fecha_Creacion, Fecha_Vencimiento, Estado, id_empleado_responsable, Origen_Tarea, Prioridad, Tipo_Tarea)
    SELECT 
        'Programar mantenimiento de ' + EQ.Nombre + ' (' + EQ.CodigoInterno + ') - Vence: ' + CONVERT(NVARCHAR, EQ.FechaProximoMantenimiento, 103),
        GETDATE(), DATEADD(DAY, -5, EQ.FechaProximoMantenimiento), 'Pendiente', ISNULL(EQ.Responsable, @IdCoordinadorSST), 'Sistema - Mantenimiento Equipo', CASE WHEN EQ.Tipo = 'Extintores' THEN 'Alta' ELSE 'Media' END, 'Mantenimiento'
    FROM EQUIPO EQ
    WHERE DATEDIFF(DAY, GETDATE(), EQ.FechaProximoMantenimiento) BETWEEN 0 AND 30 AND EQ.Estado = 'Operativo'
    AND NOT EXISTS (
        SELECT 1 FROM TAREA T WHERE T.Origen_Tarea = 'Sistema - Mantenimiento Equipo' AND T.Descripcion LIKE '%' + EQ.CodigoInterno + '%' AND T.Estado IN ('Pendiente', 'En Curso')
    );
    SET @TareasGeneradas = @TareasGeneradas + @@ROWCOUNT;
    
    -- 4. Tareas por Auditoría Anual Obligatoria
    IF NOT EXISTS (SELECT 1 FROM AUDITORIA WHERE Tipo = 'Interna' AND YEAR(Fecha_Realizacion) = YEAR(GETDATE()))
    AND NOT EXISTS (SELECT 1 FROM TAREA WHERE Origen_Tarea = 'Sistema - Auditoría Anual' AND YEAR(Fecha_Creacion) = YEAR(GETDATE()) AND Estado IN ('Pendiente', 'En Curso'))
    BEGIN
        INSERT INTO TAREA (Descripcion, Fecha_Creacion, Fecha_Vencimiento, Estado, id_empleado_responsable, Origen_Tarea, Prioridad, Tipo_Tarea)
        VALUES ('Programar y ejecutar Auditoría Interna Anual del SG-SST ' + CAST(YEAR(GETDATE()) AS NVARCHAR), GETDATE(), DATEFROMPARTS(YEAR(GETDATE()), 12, 15), 'Pendiente', @IdCoordinadorSST, 'Sistema - Auditoría Anual', 'Crítica', 'Legal Obligatoria');
        SET @TareasGeneradas = @TareasGeneradas + 1;
    END
    
    SELECT @TareasGeneradas AS TareasGeneradas;
END
GO
