USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Reporte_Cumplimiento_EMO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 5: Reporte de Cumplimiento EMO
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Reporte_Cumplimiento_EMO]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TotalEmpleadosActivos INT;
    DECLARE @EmpleadosEMOVigente INT;
    DECLARE @EmpleadosEMOVencido INT;
    DECLARE @EmpleadosSinEMO INT;
    
    SELECT @TotalEmpleadosActivos = COUNT(*) 
    FROM EMPLEADO 
    WHERE Estado = 1;
    
    -- Empleados con EMO vigente
    SELECT @EmpleadosEMOVigente = COUNT(DISTINCT E.id_empleado)
    FROM EMPLEADO E
    WHERE E.Estado = 1
    AND EXISTS (
        SELECT 1 FROM EXAMEN_MEDICO EM 
        WHERE EM.id_empleado = E.id_empleado 
        AND EM.Tipo_Examen IN ('Periodico', 'Preocupacional')
        AND (EM.Fecha_Vencimiento >= CAST(GETDATE() AS DATE) OR EM.Fecha_Vencimiento IS NULL)
        AND EM.Apto_Para_Cargo = 1
        AND EM.id_examen = (
            SELECT TOP 1 id_examen FROM EXAMEN_MEDICO 
            WHERE id_empleado = E.id_empleado 
            ORDER BY Fecha_Realizacion DESC
        )
    );
    
    -- Empleados con EMO vencido
    SELECT @EmpleadosEMOVencido = COUNT(DISTINCT E.id_empleado)
    FROM EMPLEADO E
    WHERE E.Estado = 1
    AND EXISTS (
        SELECT 1 FROM EXAMEN_MEDICO EM 
        WHERE EM.id_empleado = E.id_empleado 
        AND EM.Tipo_Examen = 'Periodico'
        AND EM.Fecha_Vencimiento < CAST(GETDATE() AS DATE)
    )
    AND NOT EXISTS (
        SELECT 1 FROM EXAMEN_MEDICO EM2
        WHERE EM2.id_empleado = E.id_empleado
        AND EM2.Tipo_Examen = 'Periodico'
        AND (EM2.Fecha_Vencimiento >= CAST(GETDATE() AS DATE) OR EM2.Fecha_Vencimiento IS NULL)
    );
    
    -- Empleados sin EMO registrado
    SET @EmpleadosSinEMO = @TotalEmpleadosActivos - @EmpleadosEMOVigente - @EmpleadosEMOVencido;
    
    -- Resumen general
    SELECT 
        @TotalEmpleadosActivos AS Total_Empleados_Activos,
        @EmpleadosEMOVigente AS EMO_Vigentes,
        @EmpleadosEMOVencido AS EMO_Vencidos,
        @EmpleadosSinEMO AS Sin_EMO,
        CAST(@EmpleadosEMOVigente * 100.0 / NULLIF(@TotalEmpleadosActivos, 0) AS DECIMAL(5,2)) AS Porcentaje_Cumplimiento;
    
    -- Detalle de empleados con EMO vencido o sin EMO
    SELECT 
        E.id_empleado,
        E.NumeroDocumento,
        E.Nombre + ' ' + E.Apellidos AS NombreCompleto,
        E.Cargo,
        E.Area,
        E.Correo,
        CASE 
            WHEN EM.id_examen IS NULL THEN 'Sin EMO Registrado'
            WHEN EM.Fecha_Vencimiento < CAST(GETDATE() AS DATE) THEN 'EMO Vencido'
            ELSE 'Otro'
        END AS Estado,
        EM.Fecha_Vencimiento,
        CASE 
            WHEN EM.Fecha_Vencimiento < CAST(GETDATE() AS DATE) 
            THEN DATEDIFF(DAY, EM.Fecha_Vencimiento, GETDATE())
            ELSE NULL
        END AS DiasVencidos
    FROM EMPLEADO E
    LEFT JOIN (
        SELECT EM1.id_empleado, EM1.id_examen, EM1.Fecha_Vencimiento
        FROM EXAMEN_MEDICO EM1
        WHERE EM1.Tipo_Examen = 'Periodico'
        AND EM1.id_examen = (
            SELECT TOP 1 id_examen FROM EXAMEN_MEDICO 
            WHERE id_empleado = EM1.id_empleado AND Tipo_Examen = 'Periodico'
            ORDER BY Fecha_Realizacion DESC
        )
    ) EM ON E.id_empleado = EM.id_empleado
    WHERE E.Estado = 1
    AND (EM.id_examen IS NULL OR EM.Fecha_Vencimiento < CAST(GETDATE() AS DATE))
    ORDER BY DiasVencidos DESC, E.Nombre;
END
GO
