USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[id_empleado] [int] IDENTITY(100,1) NOT NULL,
	[id_sede] [int] NULL,
	[TipoDocumento] [nvarchar](20) NOT NULL,
	[NumeroDocumento] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
	[Area] [nvarchar](100) NOT NULL,
	[TipoContrato] [nvarchar](50) NOT NULL,
	[Fecha_Ingreso] [date] NOT NULL,
	[Fecha_Retiro] [date] NULL,
	[Nivel_Riesgo_Laboral] [int] NOT NULL,
	[Correo] [nvarchar](150) NULL,
	[Telefono] [nvarchar](20) NULL,
	[DireccionResidencia] [nvarchar](300) NULL,
	[ContactoEmergencia] [nvarchar](100) NULL,
	[TelefonoEmergencia] [nvarchar](20) NULL,
	[GrupoSanguineo] [nvarchar](5) NULL,
	[Estado] [bit] NULL,
	[id_supervisor] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 

SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLEADO__60695A192F066F64]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[EMPLEADO] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLEADO__A42025880949DBDF]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[EMPLEADO] ADD UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Empleado_Correo]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Empleado_Correo] ON [dbo].[EMPLEADO]
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Empleado_Estado]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Empleado_Estado] ON [dbo].[EMPLEADO]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Empleado_Sede]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Empleado_Sede] ON [dbo].[EMPLEADO]
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLEADO] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[EMPLEADO] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[EMPLEADO] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDE] ([id_sede])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([id_supervisor])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD CHECK  (([Nivel_Riesgo_Laboral]>=(1) AND [Nivel_Riesgo_Laboral]<=(5)))
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD CHECK  (([TipoContrato]='Prestación de Servicios' OR [TipoContrato]='Aprendizaje' OR [TipoContrato]='Obra o Labor' OR [TipoContrato]='Fijo' OR [TipoContrato]='Indefinido'))
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD CHECK  (([TipoDocumento]='Pasaporte' OR [TipoDocumento]='PEP' OR [TipoDocumento]='CE' OR [TipoDocumento]='CC'))
GO
/****** Object:  Trigger [dbo].[TR_EMPLEADO_ActualizarContador]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 3: Actualizar contador de empleados activos en EMPRESA
-- ============================================================
CREATE   TRIGGER [dbo].[TR_EMPLEADO_ActualizarContador]
ON [dbo].[EMPLEADO]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Actualizar el contador de empleados activos en EMPRESA
    UPDATE EMP
    SET NumeroTrabajadores = (
        SELECT COUNT(*) 
        FROM EMPLEADO 
        WHERE Estado = 1
    )
    FROM EMPRESA EMP;
END
GO
ALTER TABLE [dbo].[EMPLEADO] ENABLE TRIGGER [TR_EMPLEADO_ActualizarContador]
GO
/****** Object:  Trigger [dbo].[TR_EMPLEADO_Update]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==========================================================
   TRIGGERS PARA INTEGRIDAD Y AUDITORÍA DE DATOS
   ========================================================== */

-- ============================================================
-- TRIGGER 1: Actualizar Fecha_Actualizacion en EMPLEADO
-- ============================================================
CREATE   TRIGGER [dbo].[TR_EMPLEADO_Update]
ON [dbo].[EMPLEADO]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE E
    SET FechaActualizacion = GETDATE()
    FROM EMPLEADO E
    INNER JOIN inserted i ON E.id_empleado = i.id_empleado;
END
GO
ALTER TABLE [dbo].[EMPLEADO] ENABLE TRIGGER [TR_EMPLEADO_Update]
GO
/****** Object:  Trigger [dbo].[TR_EMPLEADO_ValidarInactivacion]    Script Date: 16/11/2025 8:15:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 16: Alerta por Inactivación de empleado con tareas activas
-- ============================================================
CREATE   TRIGGER [dbo].[TR_EMPLEADO_ValidarInactivacion]
ON [dbo].[EMPLEADO]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CorreoCoordinadorSST NVARCHAR(150);
    SELECT @CorreoCoordinadorSST = Valor FROM CONFIG_AGENTE WHERE Clave = 'CORREO_COORDINADOR_SST';

    -- Si se intenta inactivar un empleado con tareas activas, crear alerta
    IF EXISTS (
        SELECT 1 FROM inserted i
        INNER JOIN deleted d ON i.id_empleado = d.id_empleado
        WHERE i.Estado = 0 AND d.Estado = 1
        AND EXISTS (
            SELECT 1 FROM TAREA 
            WHERE id_empleado_responsable = i.id_empleado 
            AND Estado IN ('Pendiente', 'En Curso')
        )
    )
    BEGIN
        INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
        SELECT 
            'Inactivación con Tareas Pendientes', 'Alta',
            'El empleado ' + i.Nombre + ' ' + i.Apellidos + ' fue inactivado, pero tiene tareas pendientes o en curso.',
            'EMPLEADO', i.id_empleado, 'Pendiente',
            '["' + @CorreoCoordinadorSST + '"]'
        FROM inserted i
        INNER JOIN deleted d ON i.id_empleado = d.id_empleado
        WHERE i.Estado = 0 AND d.Estado = 1;
    END
END
GO
ALTER TABLE [dbo].[EMPLEADO] ENABLE TRIGGER [TR_EMPLEADO_ValidarInactivacion]
GO
