USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[RIESGO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RIESGO](
	[id_riesgo] [int] IDENTITY(1,1) NOT NULL,
	[id_catalogo_peligro] [int] NULL,
	[Peligro] [nvarchar](100) NOT NULL,
	[Proceso] [nvarchar](100) NOT NULL,
	[Actividad] [nvarchar](200) NOT NULL,
	[Zona_Area] [nvarchar](100) NULL,
	[id_probabilidad] [int] NULL,
	[id_consecuencia] [int] NULL,
	[Nivel_Riesgo_Inicial] [int] NOT NULL,
	[Nivel_Riesgo_Residual] [int] NULL,
	[Controles_Fuente] [nvarchar](max) NULL,
	[Controles_Medio] [nvarchar](max) NULL,
	[Controles_Individuo] [nvarchar](max) NULL,
	[MedidasIntervencion] [nvarchar](max) NULL,
	[FechaEvaluacion] [date] NOT NULL,
	[ProximaRevision] [date] NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_riesgo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RIESGO] ON 

INSERT [dbo].[RIESGO] ([id_riesgo], [id_catalogo_peligro], [Peligro], [Proceso], [Actividad], [Zona_Area], [id_probabilidad], [id_consecuencia], [Nivel_Riesgo_Inicial], [Nivel_Riesgo_Residual], [Controles_Fuente], [Controles_Medio], [Controles_Individuo], [MedidasIntervencion], [FechaEvaluacion], [ProximaRevision], [Estado]) VALUES (2, 3, N'Carga Mental Alta', N'Gerencia y Administración', N'Toma de decisiones estratégicas', N'Gerencia', 3, 3, 300, NULL, NULL, NULL, N'Programas de bienestar, pausas programadas', NULL, CAST(N'2024-01-15' AS Date), CAST(N'2025-01-15' AS Date), N'Vigente')
SET IDENTITY_INSERT [dbo].[RIESGO] OFF
GO
ALTER TABLE [dbo].[RIESGO] ADD  DEFAULT ('Vigente') FOR [Estado]
GO
ALTER TABLE [dbo].[RIESGO]  WITH CHECK ADD FOREIGN KEY([id_catalogo_peligro])
REFERENCES [dbo].[CATALOGO_PELIGRO] ([id_catalogo_peligro])
GO
ALTER TABLE [dbo].[RIESGO]  WITH CHECK ADD FOREIGN KEY([id_consecuencia])
REFERENCES [dbo].[VALORACION_CONSEC] ([id_consecuencia])
GO
ALTER TABLE [dbo].[RIESGO]  WITH CHECK ADD FOREIGN KEY([id_probabilidad])
REFERENCES [dbo].[VALORACION_PROB] ([id_probabilidad])
GO
ALTER TABLE [dbo].[RIESGO]  WITH CHECK ADD CHECK  (([Estado]='En Revisión' OR [Estado]='Controlado' OR [Estado]='Vigente'))
GO
