USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[INDICADOR]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDICADOR](
	[id_indicador] [int] IDENTITY(1,1) NOT NULL,
	[TipoIndicador] [nvarchar](50) NOT NULL,
	[NombreIndicador] [nvarchar](200) NOT NULL,
	[FormulaCalculo] [nvarchar](500) NULL,
	[UnidadMedida] [nvarchar](50) NULL,
	[Frecuencia] [nvarchar](50) NULL,
	[MetaEsperada] [decimal](10, 2) NULL,
	[ResponsableReporte] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_indicador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[INDICADOR] ON 

INSERT [dbo].[INDICADOR] ([id_indicador], [TipoIndicador], [NombreIndicador], [FormulaCalculo], [UnidadMedida], [Frecuencia], [MetaEsperada], [ResponsableReporte]) VALUES (5, N'Resultado', N'Índice de Frecuencia de Accidentes (IFA)', N'(# AT * 200000) / HHT', N'Accidentes por 200,000 HHT', N'Anual', CAST(5.00 AS Decimal(10, 2)), 101)
INSERT [dbo].[INDICADOR] ([id_indicador], [TipoIndicador], [NombreIndicador], [FormulaCalculo], [UnidadMedida], [Frecuencia], [MetaEsperada], [ResponsableReporte]) VALUES (6, N'Resultado', N'Índice de Severidad (IS)', N'(Días Perdidos * 200000) / HHT', N'Días por 200,000 HHT', N'Anual', CAST(50.00 AS Decimal(10, 2)), 101)
INSERT [dbo].[INDICADOR] ([id_indicador], [TipoIndicador], [NombreIndicador], [FormulaCalculo], [UnidadMedida], [Frecuencia], [MetaEsperada], [ResponsableReporte]) VALUES (7, N'Proceso', N'Cumplimiento del Plan de Capacitación', N'(Capacitaciones Realizadas / Programadas) * 100', N'Porcentaje', N'Trimestral', CAST(95.00 AS Decimal(10, 2)), 101)
SET IDENTITY_INSERT [dbo].[INDICADOR] OFF
GO
ALTER TABLE [dbo].[INDICADOR]  WITH CHECK ADD FOREIGN KEY([ResponsableReporte])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[INDICADOR]  WITH CHECK ADD CHECK  (([TipoIndicador]='Resultado' OR [TipoIndicador]='Proceso' OR [TipoIndicador]='Estructura'))
GO
