USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[CONFIG_AGENTE]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIG_AGENTE](
	[id_config] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](max) NOT NULL,
	[TipoDato] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_config] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CONFIG_AGENTE] ON 

INSERT [dbo].[CONFIG_AGENTE] ([id_config], [Clave], [Valor], [TipoDato], [Descripcion], [FechaActualizacion]) VALUES (9, N'CORREO_AGENTE', N'agente.sst@digitalbulks.com', N'String', N'Correo electrónico del agente IA para recibir solicitudes', CAST(N'2025-11-15T20:22:16.837' AS DateTime))
INSERT [dbo].[CONFIG_AGENTE] ([id_config], [Clave], [Valor], [TipoDato], [Descripcion], [FechaActualizacion]) VALUES (10, N'SERVIDOR_SMTP', N'smtp.gmail.com', N'String', N'Servidor SMTP para envío de correos', CAST(N'2025-11-15T20:22:16.837' AS DateTime))
INSERT [dbo].[CONFIG_AGENTE] ([id_config], [Clave], [Valor], [TipoDato], [Descripcion], [FechaActualizacion]) VALUES (11, N'PUERTO_SMTP', N'587', N'Integer', N'Puerto del servidor SMTP', CAST(N'2025-11-15T20:22:16.837' AS DateTime))
SET IDENTITY_INSERT [dbo].[CONFIG_AGENTE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CONFIG_A__E8181E119F03AC68]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[CONFIG_AGENTE] ADD UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONFIG_AGENTE] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[CONFIG_AGENTE]  WITH CHECK ADD CHECK  (([TipoDato]='Decimal' OR [TipoDato]='JSON' OR [TipoDato]='Boolean' OR [TipoDato]='Integer' OR [TipoDato]='String'))
GO
