-- =============================================
-- FORM SUBMISSIONS TABLES
-- Complete audit trail and tracking system
-- =============================================
USE [SG_SST_AgenteInteligente]
GO
-- =============================================
-- 1. FORM_SUBMISSIONS - Main submissions table
-- =============================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORM_SUBMISSIONS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[FORM_SUBMISSIONS] (
        -- Primary Key
        [id_submission] INT IDENTITY(1,1) NOT NULL,
        
        -- Form Information
        [form_id] NVARCHAR(100) NOT NULL,
        [form_version] NVARCHAR(20) NOT NULL,
        [form_title] NVARCHAR(200) NULL,
        
        -- Submission Data
        [data_json] NVARCHAR(MAX) NOT NULL,  -- Complete form data as JSON
        [attachments_json] NVARCHAR(MAX) NULL,  -- File attachments metadata
        
        -- User & Timestamp
        [submitted_by] INT NOT NULL,  -- FK to USUARIOS_AUTORIZADOS
        [submitted_at] DATETIME NOT NULL DEFAULT GETDATE(),
        
        -- Status & Workflow
        [status] NVARCHAR(20) NOT NULL DEFAULT 'completed',  -- completed, pending, rejected, draft
        [workflow_status] NVARCHAR(50) NULL,  -- Custom workflow status
        [reviewed_by] INT NULL,  -- FK to USUARIOS_AUTORIZADOS
        [reviewed_at] DATETIME NULL,
        [review_notes] NVARCHAR(MAX) NULL,
        
        -- Audit Trail
        [created_at] DATETIME NOT NULL DEFAULT GETDATE(),
        [updated_at] DATETIME NOT NULL DEFAULT GETDATE(),
        [updated_by] INT NULL,
        [ip_address] NVARCHAR(50) NULL,
        [user_agent] NVARCHAR(500) NULL,
        
        -- Soft Delete
        [deleted] BIT NOT NULL DEFAULT 0,
        [deleted_at] DATETIME NULL,
        [deleted_by] INT NULL,
        
        CONSTRAINT [PK_FORM_SUBMISSIONS] PRIMARY KEY CLUSTERED ([id_submission] ASC)
    )
    
    PRINT 'Table FORM_SUBMISSIONS created successfully'
END
ELSE
BEGIN
    PRINT 'Table FORM_SUBMISSIONS already exists'
END
GO
-- =============================================
-- 2. FORM_DRAFTS - Auto-save drafts
-- =============================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORM_DRAFTS]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[FORM_DRAFTS] (
        [id_draft] INT IDENTITY(1,1) NOT NULL,
        [form_id] NVARCHAR(100) NOT NULL,
        [user_id] INT NOT NULL,
        [data_json] NVARCHAR(MAX) NOT NULL,
        [saved_at] DATETIME NOT NULL DEFAULT GETDATE(),
        [expires_at] DATETIME NULL,  -- Auto-delete after 30 days
        
        CONSTRAINT [PK_FORM_DRAFTS] PRIMARY KEY CLUSTERED ([id_draft] ASC)
    )
    
    PRINT 'Table FORM_DRAFTS created successfully'
END
ELSE
BEGIN
    PRINT 'Table FORM_DRAFTS already exists'
END
GO
-- =============================================
-- 3. FORM_SUBMISSION_AUDIT - Complete audit log
-- =============================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORM_SUBMISSION_AUDIT]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[FORM_SUBMISSION_AUDIT] (
        [id_audit] INT IDENTITY(1,1) NOT NULL,
        [id_submission] INT NOT NULL,
        [action] NVARCHAR(20) NOT NULL,  -- INSERT, UPDATE, DELETE, STATUS_CHANGE
        [field_changed] NVARCHAR(100) NULL,
        [old_value] NVARCHAR(MAX) NULL,
        [new_value] NVARCHAR(MAX) NULL,
        [changed_by] INT NOT NULL,
        [changed_at] DATETIME NOT NULL DEFAULT GETDATE(),
        [ip_address] NVARCHAR(50) NULL,
        
        CONSTRAINT [PK_FORM_SUBMISSION_AUDIT] PRIMARY KEY CLUSTERED ([id_audit] ASC)
    )
    
    PRINT 'Table FORM_SUBMISSION_AUDIT created successfully'
END
ELSE
BEGIN
    PRINT 'Table FORM_SUBMISSION_AUDIT already exists'
END
GO
-- =============================================
-- 4. INDEXES for Performance
-- =============================================
-- FORM_SUBMISSIONS indexes
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_FORM_SUBMISSIONS_FormId' AND object_id = OBJECT_ID('FORM_SUBMISSIONS'))
BEGIN
    CREATE NONCLUSTERED INDEX [IX_FORM_SUBMISSIONS_FormId] 
    ON [dbo].[FORM_SUBMISSIONS] ([form_id])
    INCLUDE ([submitted_at], [status])
    PRINT 'Index IX_FORM_SUBMISSIONS_FormId created'
END
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_FORM_SUBMISSIONS_SubmittedBy' AND object_id = OBJECT_ID('FORM_SUBMISSIONS'))
BEGIN
    CREATE NONCLUSTERED INDEX [IX_FORM_SUBMISSIONS_SubmittedBy] 
    ON [dbo].[FORM_SUBMISSIONS] ([submitted_by])
    INCLUDE ([submitted_at], [form_id])
    PRINT 'Index IX_FORM_SUBMISSIONS_SubmittedBy created'
END
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_FORM_SUBMISSIONS_Status' AND object_id = OBJECT_ID('FORM_SUBMISSIONS'))
BEGIN
    CREATE NONCLUSTERED INDEX [IX_FORM_SUBMISSIONS_Status] 
    ON [dbo].[FORM_SUBMISSIONS] ([status], [deleted])
    INCLUDE ([submitted_at])
    PRINT 'Index IX_FORM_SUBMISSIONS_Status created'
END
-- FORM_DRAFTS indexes
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_FORM_DRAFTS_UserForm' AND object_id = OBJECT_ID('FORM_DRAFTS'))
BEGIN
    CREATE UNIQUE NONCLUSTERED INDEX [IX_FORM_DRAFTS_UserForm] 
    ON [dbo].[FORM_DRAFTS] ([user_id], [form_id])
    PRINT 'Index IX_FORM_DRAFTS_UserForm created'
END
-- FORM_SUBMISSION_AUDIT indexes
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_FORM_SUBMISSION_AUDIT_Submission' AND object_id = OBJECT_ID('FORM_SUBMISSION_AUDIT'))
BEGIN
    CREATE NONCLUSTERED INDEX [IX_FORM_SUBMISSION_AUDIT_Submission] 
    ON [dbo].[FORM_SUBMISSION_AUDIT] ([id_submission])
    INCLUDE ([changed_at], [action])
    PRINT 'Index IX_FORM_SUBMISSION_AUDIT_Submission created'
END
GO
-- =============================================
-- 5. TRIGGERS for Audit Trail
-- =============================================
-- Trigger: Update timestamp on modification
IF EXISTS (SELECT * FROM sys.triggers WHERE name = 'TR_FORM_SUBMISSIONS_UpdateTimestamp')
    DROP TRIGGER [dbo].[TR_FORM_SUBMISSIONS_UpdateTimestamp]
GO
CREATE TRIGGER [dbo].[TR_FORM_SUBMISSIONS_UpdateTimestamp]
ON [dbo].[FORM_SUBMISSIONS]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE fs
    SET updated_at = GETDATE()
    FROM [dbo].[FORM_SUBMISSIONS] fs
    INNER JOIN inserted i ON fs.id_submission = i.id_submission
END
GO
PRINT 'Trigger TR_FORM_SUBMISSIONS_UpdateTimestamp created'
GO
-- Trigger: Audit trail for all changes
IF EXISTS (SELECT * FROM sys.triggers WHERE name = 'TR_FORM_SUBMISSIONS_AuditLog')
    DROP TRIGGER [dbo].[TR_FORM_SUBMISSIONS_AuditLog]
GO
CREATE TRIGGER [dbo].[TR_FORM_SUBMISSIONS_AuditLog]
ON [dbo].[FORM_SUBMISSIONS]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @action NVARCHAR(20)
    DECLARE @id_submission INT
    DECLARE @changed_by INT
    
    -- Determine action type
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
        SET @action = 'UPDATE'
    ELSE IF EXISTS (SELECT * FROM inserted)
        SET @action = 'INSERT'
    ELSE
        SET @action = 'DELETE'
    
    -- For INSERT and UPDATE
    IF @action IN ('INSERT', 'UPDATE')
    BEGIN
        SELECT @id_submission = id_submission, @changed_by = submitted_by
        FROM inserted
        
        -- Log status changes
        IF @action = 'UPDATE' AND UPDATE(status)
        BEGIN
            INSERT INTO [dbo].[FORM_SUBMISSION_AUDIT] 
                ([id_submission], [action], [field_changed], [old_value], [new_value], [changed_by])
            SELECT 
                i.id_submission,
                'STATUS_CHANGE',
                'status',
                d.status,
                i.status,
                i.updated_by
            FROM inserted i
            INNER JOIN deleted d ON i.id_submission = d.id_submission
            WHERE i.status <> d.status
        END
        
        -- Log general action
        INSERT INTO [dbo].[FORM_SUBMISSION_AUDIT] 
            ([id_submission], [action], [changed_by])
        SELECT id_submission, @action, submitted_by
        FROM inserted
    END
    
    -- For DELETE
    IF @action = 'DELETE'
    BEGIN
        INSERT INTO [dbo].[FORM_SUBMISSION_AUDIT] 
            ([id_submission], [action], [changed_by])
        SELECT id_submission, @action, deleted_by
        FROM deleted
    END
END
GO
PRINT 'Trigger TR_FORM_SUBMISSIONS_AuditLog created'
GO
-- Trigger: Auto-delete expired drafts
IF EXISTS (SELECT * FROM sys.triggers WHERE name = 'TR_FORM_DRAFTS_CleanExpired')
    DROP TRIGGER [dbo].[TR_FORM_DRAFTS_CleanExpired]
GO
CREATE TRIGGER [dbo].[TR_FORM_DRAFTS_CleanExpired]
ON [dbo].[FORM_DRAFTS]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Set expiration date if not set (30 days from now)
    UPDATE fd
    SET expires_at = DATEADD(DAY, 30, GETDATE())
    FROM [dbo].[FORM_DRAFTS] fd
    INNER JOIN inserted i ON fd.id_draft = i.id_draft
    WHERE fd.expires_at IS NULL
    
    -- Delete expired drafts
    DELETE FROM [dbo].[FORM_DRAFTS]
    WHERE expires_at < GETDATE()
END
GO
PRINT 'Trigger TR_FORM_DRAFTS_CleanExpired created'
GO
-- =============================================
-- 6. STORED PROCEDURES
-- =============================================
-- SP: Get user's submissions
IF EXISTS (SELECT * FROM sys.procedures WHERE name = 'SP_Get_User_Submissions')
    DROP PROCEDURE [dbo].[SP_Get_User_Submissions]
GO
CREATE PROCEDURE [dbo].[SP_Get_User_Submissions]
    @user_id INT,
    @form_id NVARCHAR(100) = NULL,
    @status NVARCHAR(20) = NULL,
    @skip INT = 0,
    @limit INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        fs.id_submission,
        fs.form_id,
        fs.form_title,
        fs.status,
        fs.submitted_at,
        fs.reviewed_by,
        fs.reviewed_at,
        u.Nombre_Persona as submitted_by_name
    FROM [dbo].[FORM_SUBMISSIONS] fs
    LEFT JOIN [dbo].[USUARIOS_AUTORIZADOS] u ON fs.submitted_by = u.id_autorizado
    WHERE fs.submitted_by = @user_id
        AND fs.deleted = 0
        AND (@form_id IS NULL OR fs.form_id = @form_id)
        AND (@status IS NULL OR fs.status = @status)
    ORDER BY fs.submitted_at DESC
    OFFSET @skip ROWS
    FETCH NEXT @limit ROWS ONLY
END
GO
PRINT 'Stored Procedure SP_Get_User_Submissions created'
GO
-- SP: Get submission audit trail
IF EXISTS (SELECT * FROM sys.procedures WHERE name = 'SP_Get_Submission_Audit')
    DROP PROCEDURE [dbo].[SP_Get_Submission_Audit]
GO
CREATE PROCEDURE [dbo].[SP_Get_Submission_Audit]
    @id_submission INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        a.id_audit,
        a.action,
        a.field_changed,
        a.old_value,
        a.new_value,
        a.changed_at,
        u.Nombre_Persona as changed_by_name,
        a.ip_address
    FROM [dbo].[FORM_SUBMISSION_AUDIT] a
    LEFT JOIN [dbo].[USUARIOS_AUTORIZADOS] u ON a.changed_by = u.id_autorizado
    WHERE a.id_submission = @id_submission
    ORDER BY a.changed_at DESC
END
GO
PRINT 'Stored Procedure SP_Get_Submission_Audit created'
GO
-- =============================================
-- 7. SAMPLE DATA (Optional - for testing)
-- =============================================
/*
-- Uncomment to insert sample data
INSERT INTO [dbo].[FORM_SUBMISSIONS] 
    ([form_id], [form_version], [form_title], [data_json], [submitted_by], [status])
VALUES 
    ('form_accidente_trabajo', '1.0', 'Reporte de Accidente de Trabajo', 
     '{"empleado_id": 1, "fecha_evento": "2025-11-26", "descripcion": "Test"}', 
     1, 'completed')
*/
-- =============================================
-- 8. VERIFICATION
-- =============================================
PRINT ''
PRINT '========================================='
PRINT 'FORM SUBMISSIONS SYSTEM - VERIFICATION'
PRINT '========================================='
PRINT ''
-- Check tables
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORM_SUBMISSIONS]'))
    PRINT '✓ Table FORM_SUBMISSIONS exists'
ELSE
    PRINT '✗ Table FORM_SUBMISSIONS missing'
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORM_DRAFTS]'))
    PRINT '✓ Table FORM_DRAFTS exists'
ELSE
    PRINT '✗ Table FORM_DRAFTS missing'
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORM_SUBMISSION_AUDIT]'))
    PRINT '✓ Table FORM_SUBMISSION_AUDIT exists'
ELSE
    PRINT '✗ Table FORM_SUBMISSION_AUDIT missing'
-- Check triggers
IF EXISTS (SELECT * FROM sys.triggers WHERE name = 'TR_FORM_SUBMISSIONS_UpdateTimestamp')
    PRINT '✓ Trigger TR_FORM_SUBMISSIONS_UpdateTimestamp exists'
ELSE
    PRINT '✗ Trigger TR_FORM_SUBMISSIONS_UpdateTimestamp missing'
IF EXISTS (SELECT * FROM sys.triggers WHERE name = 'TR_FORM_SUBMISSIONS_AuditLog')
    PRINT '✓ Trigger TR_FORM_SUBMISSIONS_AuditLog exists'
ELSE
    PRINT '✗ Trigger TR_FORM_SUBMISSIONS_AuditLog missing'
-- Check stored procedures
IF EXISTS (SELECT * FROM sys.procedures WHERE name = 'SP_Get_User_Submissions')
    PRINT '✓ SP SP_Get_User_Submissions exists'
ELSE
    PRINT '✗ SP SP_Get_User_Submissions missing'
IF EXISTS (SELECT * FROM sys.procedures WHERE name = 'SP_Get_Submission_Audit')
    PRINT '✓ SP SP_Get_Submission_Audit exists'
ELSE
    PRINT '✗ SP SP_Get_Submission_Audit missing'
PRINT ''
PRINT '========================================='
PRINT 'INSTALLATION COMPLETE'
PRINT '========================================='
GO