USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Crear_Tarea_Desde_Correo]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_Crear_Tarea_Desde_Correo]
    @Descripcion NVARCHAR(MAX),
    @FechaVencimiento DATE,
    @IdResponsable INT,
    @Prioridad NVARCHAR(20) = 'Media',
    @TipoTarea NVARCHAR(100) = 'Solicitud CEO',
    @IdConversacion INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que el responsable existe y está activo
    IF NOT EXISTS (SELECT 1 FROM EMPLEADO WHERE id_empleado = @IdResponsable AND Estado = 1)
    BEGIN
        SELECT 'Error: Empleado no existe o está inactivo' AS Mensaje;
        RETURN;
    END
    
    INSERT INTO TAREA (
        Descripcion, 
        Tipo_Tarea, 
        Fecha_Creacion, 
        Fecha_Vencimiento, 
        Prioridad, 
        Estado, 
        id_empleado_responsable, 
        Origen_Tarea
    )
    VALUES (
        @Descripcion, 
        @TipoTarea, 
        GETDATE(), 
        @FechaVencimiento, 
        @Prioridad, 
        'Pendiente', 
        @IdResponsable, 
        'Correo CEO'
    );
    
    DECLARE @IdTarea INT = SCOPE_IDENTITY();
    
    -- Crear alerta para el responsable
    INSERT INTO ALERTA (Tipo, Prioridad, Descripcion, FechaEvento, ModuloOrigen, IdRelacionado, Estado, DestinatariosCorreo)
    SELECT 
        'Nueva Tarea Asignada',
        @Prioridad,
        'Se le ha asignado una nueva tarea: ' + LEFT(@Descripcion, 200),
        @FechaVencimiento,
        'TAREA',
        @IdTarea,
        'Pendiente',
        '["' + E.Correo + '"]'
    FROM EMPLEADO E
    WHERE E.id_empleado = @IdResponsable;
    
    -- Retornar confirmación
    SELECT 
        @IdTarea AS id_tarea,
        'Tarea creada exitosamente' AS Mensaje,
        @Descripcion AS Descripcion,
        @FechaVencimiento AS FechaVencimiento,
        E.Nombre + ' ' + E.Apellidos AS Responsable,
        E.Correo AS CorreoResponsable
    FROM EMPLEADO E
    WHERE E.id_empleado = @IdResponsable;
END
GO
