USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[OBJETIVO_SST]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJETIVO_SST](
	[id_objetivo] [int] IDENTITY(1,1) NOT NULL,
	[id_plan] [int] NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Indicador] [nvarchar](200) NULL,
	[MetaEsperada] [nvarchar](100) NULL,
	[ResponsableCumplimiento] [int] NULL,
	[FechaLimite] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_objetivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OBJETIVO_SST] ON 

INSERT [dbo].[OBJETIVO_SST] ([id_objetivo], [id_plan], [Descripcion], [Indicador], [MetaEsperada], [ResponsableCumplimiento], [FechaLimite]) VALUES (1, 1, N'Reducir el índice de accidentalidad en un 20%', N'Índice de Frecuencia', N'< 5 accidentes por cada 100 trabajadores', 101, CAST(N'2024-12-31' AS Date))
INSERT [dbo].[OBJETIVO_SST] ([id_objetivo], [id_plan], [Descripcion], [Indicador], [MetaEsperada], [ResponsableCumplimiento], [FechaLimite]) VALUES (2, 1, N'Lograr el 100% de cumplimiento en exámenes médicos periódicos', N'Porcentaje de EMO vigentes', N'100%', 101, CAST(N'2024-12-31' AS Date))
INSERT [dbo].[OBJETIVO_SST] ([id_objetivo], [id_plan], [Descripcion], [Indicador], [MetaEsperada], [ResponsableCumplimiento], [FechaLimite]) VALUES (3, 1, N'Capacitar al 100% del personal en identificación de peligros', N'Porcentaje de personal capacitado', N'100%', 101, CAST(N'2024-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[OBJETIVO_SST] OFF
GO
ALTER TABLE [dbo].[OBJETIVO_SST]  WITH CHECK ADD FOREIGN KEY([id_plan])
REFERENCES [dbo].[PLAN_TRABAJO] ([id_plan])
GO
ALTER TABLE [dbo].[OBJETIVO_SST]  WITH CHECK ADD FOREIGN KEY([ResponsableCumplimiento])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
