USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[SEGUIMIENTO_PVE]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGUIMIENTO_PVE](
	[id_seguimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_programa] [int] NULL,
	[id_empleado] [int] NULL,
	[FechaSeguimiento] [date] NOT NULL,
	[Hallazgos] [nvarchar](max) NULL,
	[IntervencionRealizada] [nvarchar](max) NULL,
	[ProximoSeguimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_seguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SEGUIMIENTO_PVE]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[SEGUIMIENTO_PVE]  WITH CHECK ADD FOREIGN KEY([id_programa])
REFERENCES [dbo].[PROGRAMA_VIGILANCIA] ([id_programa])
GO
