USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[ACCION_MEJORA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCION_MEJORA](
	[id_accion_mejora] [int] IDENTITY(1,1) NOT NULL,
	[Origen] [nvarchar](100) NULL,
	[IdOrigenRelacionado] [int] NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[TipoAccion] [nvarchar](50) NOT NULL,
	[ResponsableEjecucion] [int] NULL,
	[FechaCreacion] [date] NULL,
	[FechaCompromiso] [date] NOT NULL,
	[FechaCierre] [date] NULL,
	[Estado] [nvarchar](50) NULL,
	[EficaciaVerificada] [bit] NULL,
	[FechaVerificacion] [date] NULL,
	[ResultadoVerificacion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_accion_mejora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCION_MEJORA] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ACCION_MEJORA] ADD  DEFAULT ('Abierta') FOR [Estado]
GO
ALTER TABLE [dbo].[ACCION_MEJORA] ADD  DEFAULT ((0)) FOR [EficaciaVerificada]
GO
ALTER TABLE [dbo].[ACCION_MEJORA]  WITH CHECK ADD FOREIGN KEY([ResponsableEjecucion])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[ACCION_MEJORA]  WITH CHECK ADD CHECK  (([Estado]='Vencida' OR [Estado]='Cancelada' OR [Estado]='Cerrada' OR [Estado]='En Ejecución' OR [Estado]='Abierta'))
GO
ALTER TABLE [dbo].[ACCION_MEJORA]  WITH CHECK ADD CHECK  (([TipoAccion]='Mejora' OR [TipoAccion]='Preventiva' OR [TipoAccion]='Correctiva'))
GO
