USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[CAPACITACION]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAPACITACION](
	[id_capacitacion] [int] IDENTITY(4000,1) NOT NULL,
	[Codigo_Capacitacion] [nvarchar](50) NULL,
	[Tema] [nvarchar](200) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Modalidad] [nvarchar](50) NOT NULL,
	[Duracion_Horas] [decimal](5, 2) NOT NULL,
	[Fecha_Programada] [date] NULL,
	[Fecha_Realizacion] [date] NULL,
	[Lugar] [nvarchar](200) NULL,
	[Facilitador] [nvarchar](100) NULL,
	[EntidadProveedora] [nvarchar](200) NULL,
	[Objetivo] [nvarchar](max) NULL,
	[Responsable] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[RutaMaterial] [nvarchar](500) NULL,
	[RutaEvidencias] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_capacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CAPACITACION] ON 

INSERT [dbo].[CAPACITACION] ([id_capacitacion], [Codigo_Capacitacion], [Tema], [Tipo], [Modalidad], [Duracion_Horas], [Fecha_Programada], [Fecha_Realizacion], [Lugar], [Facilitador], [EntidadProveedora], [Objetivo], [Responsable], [Estado], [RutaMaterial], [RutaEvidencias]) VALUES (4002, N'CAP-2024-001', N'Inducción al SG-SST', N'Inducción', N'Presencial', CAST(4.00 AS Decimal(5, 2)), CAST(N'2024-01-20' AS Date), CAST(N'2024-01-20' AS Date), NULL, NULL, NULL, NULL, 101, N'Realizada', NULL, NULL)
INSERT [dbo].[CAPACITACION] ([id_capacitacion], [Codigo_Capacitacion], [Tema], [Tipo], [Modalidad], [Duracion_Horas], [Fecha_Programada], [Fecha_Realizacion], [Lugar], [Facilitador], [EntidadProveedora], [Objetivo], [Responsable], [Estado], [RutaMaterial], [RutaEvidencias]) VALUES (4003, N'CAP-2024-002', N'Prevención de Riesgos Psicosociales', N'Específica SST', N'Virtual', CAST(3.00 AS Decimal(5, 2)), CAST(N'2024-03-15' AS Date), NULL, NULL, NULL, NULL, NULL, 101, N'Programada', NULL, NULL)
INSERT [dbo].[CAPACITACION] ([id_capacitacion], [Codigo_Capacitacion], [Tema], [Tipo], [Modalidad], [Duracion_Horas], [Fecha_Programada], [Fecha_Realizacion], [Lugar], [Facilitador], [EntidadProveedora], [Objetivo], [Responsable], [Estado], [RutaMaterial], [RutaEvidencias]) VALUES (4004, N'CAP-2024-003', N'Primeros Auxilios Básicos', N'Brigada', N'Presencial', CAST(8.00 AS Decimal(5, 2)), CAST(N'2024-04-10' AS Date), NULL, NULL, NULL, NULL, NULL, 101, N'Programada', NULL, NULL)
SET IDENTITY_INSERT [dbo].[CAPACITACION] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CAPACITA__098E379DFF770FE9]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[CAPACITACION] ADD UNIQUE NONCLUSTERED 
(
	[Codigo_Capacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAPACITACION] ADD  DEFAULT ('Programada') FOR [Estado]
GO
ALTER TABLE [dbo].[CAPACITACION]  WITH CHECK ADD FOREIGN KEY([Responsable])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[CAPACITACION]  WITH CHECK ADD CHECK  (([Estado]='Reprogramada' OR [Estado]='Cancelada' OR [Estado]='Realizada' OR [Estado]='Programada'))
GO
ALTER TABLE [dbo].[CAPACITACION]  WITH CHECK ADD CHECK  (([Modalidad]='Mixta' OR [Modalidad]='Virtual' OR [Modalidad]='Presencial'))
GO
ALTER TABLE [dbo].[CAPACITACION]  WITH CHECK ADD CHECK  (([Tipo]='Legal Obligatoria' OR [Tipo]='Brigada' OR [Tipo]='Específica SST' OR [Tipo]='Reinducción' OR [Tipo]='Inducción'))
GO
/****** Object:  Trigger [dbo].[TR_CAPACITACION_ValidarFechas]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 12: Validar que Fecha_Realizacion no sea muy posterior a Fecha_Programada
-- ============================================================
CREATE   TRIGGER [dbo].[TR_CAPACITACION_ValidarFechas]
ON [dbo].[CAPACITACION]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que Fecha_Realizacion no sea posterior a Fecha_Programada por más de 30 días
    IF EXISTS (
        SELECT 1 FROM inserted 
        WHERE Fecha_Realizacion IS NOT NULL 
        AND Fecha_Programada IS NOT NULL
        AND Fecha_Realizacion > DATEADD(DAY, 30, Fecha_Programada)
    )
    BEGIN
        RAISERROR('La fecha de realización no puede ser más de 30 días posterior a la fecha programada.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END
END
GO
ALTER TABLE [dbo].[CAPACITACION] ENABLE TRIGGER [TR_CAPACITACION_ValidarFechas]
GO
