USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[CONTRATISTA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRATISTA](
	[id_contratista] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](200) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[ActividadContratada] [nvarchar](300) NOT NULL,
	[NivelRiesgo] [int] NULL,
	[ContactoPrincipal] [nvarchar](100) NULL,
	[TelefonoContacto] [nvarchar](20) NULL,
	[CorreoContacto] [nvarchar](150) NULL,
	[FechaInicioContrato] [date] NULL,
	[FechaFinContrato] [date] NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contratista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CONTRATI__C7DEC3C24FAFBD77]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[CONTRATISTA] ADD UNIQUE NONCLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTRATISTA] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[CONTRATISTA]  WITH CHECK ADD CHECK  (([Estado]='Suspendido' OR [Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[CONTRATISTA]  WITH CHECK ADD CHECK  (([NivelRiesgo]>=(1) AND [NivelRiesgo]<=(5)))
GO
