USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[REQUISITO_LEGAL]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUISITO_LEGAL](
	[id_requisito] [int] IDENTITY(500,1) NOT NULL,
	[Norma] [nvarchar](100) NOT NULL,
	[Articulo] [nvarchar](50) NULL,
	[Descripcion_Requisito] [nvarchar](max) NOT NULL,
	[Fecha_Vigencia] [date] NOT NULL,
	[Area_Aplicacion] [nvarchar](100) NULL,
	[TipoNorma] [nvarchar](50) NOT NULL,
	[Entidad_Emisora] [nvarchar](100) NULL,
	[Vigente] [bit] NULL,
	[URL_Documento] [nvarchar](500) NULL,
	[FechaRevision] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_requisito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[REQUISITO_LEGAL] ON 

INSERT [dbo].[REQUISITO_LEGAL] ([id_requisito], [Norma], [Articulo], [Descripcion_Requisito], [Fecha_Vigencia], [Area_Aplicacion], [TipoNorma], [Entidad_Emisora], [Vigente], [URL_Documento], [FechaRevision]) VALUES (500, N'Decreto 1072', N'2.2.4.6.8', N'Obligaciones de los empleadores - Implementación del SG-SST', CAST(N'2015-05-26' AS Date), N'General', N'Decreto', N'Ministerio del Trabajo', 1, NULL, CAST(N'2025-11-14' AS Date))
INSERT [dbo].[REQUISITO_LEGAL] ([id_requisito], [Norma], [Articulo], [Descripcion_Requisito], [Fecha_Vigencia], [Area_Aplicacion], [TipoNorma], [Entidad_Emisora], [Vigente], [URL_Documento], [FechaRevision]) VALUES (501, N'Resolución 0312', N'Art. 27-29', N'Estándares Mínimos del SG-SST para empresas', CAST(N'2019-02-13' AS Date), N'General', N'Resolución', N'Ministerio del Trabajo', 1, NULL, CAST(N'2025-11-14' AS Date))
INSERT [dbo].[REQUISITO_LEGAL] ([id_requisito], [Norma], [Articulo], [Descripcion_Requisito], [Fecha_Vigencia], [Area_Aplicacion], [TipoNorma], [Entidad_Emisora], [Vigente], [URL_Documento], [FechaRevision]) VALUES (502, N'Ley 1562', N'Art. 11', N'Servicios de Seguridad y Salud en el Trabajo', CAST(N'2012-07-11' AS Date), N'General', N'Ley', N'Congreso de la República', 1, NULL, CAST(N'2025-11-14' AS Date))
SET IDENTITY_INSERT [dbo].[REQUISITO_LEGAL] OFF
GO
ALTER TABLE [dbo].[REQUISITO_LEGAL] ADD  DEFAULT ((1)) FOR [Vigente]
GO
ALTER TABLE [dbo].[REQUISITO_LEGAL] ADD  DEFAULT (getdate()) FOR [FechaRevision]
GO
ALTER TABLE [dbo].[REQUISITO_LEGAL]  WITH CHECK ADD CHECK  (([TipoNorma]='Circular' OR [TipoNorma]='Ley' OR [TipoNorma]='Resolución' OR [TipoNorma]='Decreto'))
GO
