USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[DOCUMENTO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[id_documento] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[CategoriaSGSST] [nvarchar](100) NULL,
	[Area] [nvarchar](100) NULL,
	[FechaCreacion] [date] NULL,
	[FechaUltimaRevision] [date] NULL,
	[ProximaRevision] [date] NULL,
	[Estado] [nvarchar](20) NULL,
	[Responsable] [int] NULL,
	[RutaArchivo] [nvarchar](500) NULL,
	[RequiereAprobacion] [bit] NULL,
	[AprobadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DOCUMENT__06370DAC160138E6]    Script Date: 16/11/2025 8:15:56 p. m. ******/
ALTER TABLE [dbo].[DOCUMENTO] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Documento_Codigo]    Script Date: 16/11/2025 8:15:56 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_Documento_Codigo] ON [dbo].[DOCUMENTO]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCUMENTO] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DOCUMENTO] ADD  DEFAULT ('Vigente') FOR [Estado]
GO
ALTER TABLE [dbo].[DOCUMENTO] ADD  DEFAULT ((0)) FOR [RequiereAprobacion]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD FOREIGN KEY([AprobadoPor])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD FOREIGN KEY([Responsable])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD CHECK  (([Estado]='En Revisión' OR [Estado]='Obsoleto' OR [Estado]='Vigente'))
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD CHECK  (([Tipo]='Reglamento' OR [Tipo]='Plan' OR [Tipo]='Instructivo' OR [Tipo]='Formato' OR [Tipo]='Manual' OR [Tipo]='Programa' OR [Tipo]='Procedimiento' OR [Tipo]='Política'))
GO
/****** Object:  Trigger [dbo].[TR_DOCUMENTO_ActualizarRevision]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 13: Actualizar ProximaRevision en DOCUMENTO (REHECHO)
-- ============================================================
CREATE   TRIGGER [dbo].[TR_DOCUMENTO_ActualizarRevision]
ON [dbo].[DOCUMENTO]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Actualizar ProximaRevision cuando cambie FechaUltimaRevision
    -- Usando una subquery más simple para evitar conflictos de alias
    UPDATE DOCUMENTO
    SET ProximaRevision = DATEADD(YEAR, 1, i.FechaUltimaRevision)
    FROM inserted i
    WHERE DOCUMENTO.id_documento = i.id_documento
    AND i.FechaUltimaRevision IS NOT NULL
    AND (
        -- La fecha cambió
        i.FechaUltimaRevision <> (
            SELECT d.FechaUltimaRevision 
            FROM deleted d 
            WHERE d.id_documento = i.id_documento
        )
        OR 
        -- O es la primera vez que se asigna
        NOT EXISTS (
            SELECT 1 
            FROM deleted d 
            WHERE d.id_documento = i.id_documento 
            AND d.FechaUltimaRevision IS NOT NULL
        )
    );
END
GO
ALTER TABLE [dbo].[DOCUMENTO] ENABLE TRIGGER [TR_DOCUMENTO_ActualizarRevision]
GO
/****** Object:  Trigger [dbo].[TR_DOCUMENTO_Auditoria]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 10: Auditoría de cambios de estado y versión en DOCUMENTO
-- ============================================================
CREATE   TRIGGER [dbo].[TR_DOCUMENTO_Auditoria]
ON [dbo].[DOCUMENTO]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Crear nueva versión si cambió el estado o se actualizó (Simplificado para solo cambio de estado)
    IF EXISTS (SELECT 1 FROM inserted i INNER JOIN deleted d ON i.id_documento = d.id_documento WHERE i.Estado <> d.Estado)
    BEGIN
        INSERT INTO VERSION_DOCUMENTO (id_documento, NumeroVersion, FechaVersion, Cambios, AprobadoPor)
        SELECT 
            i.id_documento,
            ISNULL((SELECT MAX(NumeroVersion) FROM VERSION_DOCUMENTO WHERE id_documento = i.id_documento), 0) + 1,
            GETDATE(),
            'Actualización: Estado cambió de "' + d.Estado + '" a "' + i.Estado + '"',
            i.Responsable
        FROM inserted i
        INNER JOIN deleted d ON i.id_documento = d.id_documento;
    END
END
GO
ALTER TABLE [dbo].[DOCUMENTO] ENABLE TRIGGER [TR_DOCUMENTO_Auditoria]
GO
