USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[PROGRAMA_VIGILANCIA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMA_VIGILANCIA](
	[id_programa] [int] IDENTITY(1,1) NOT NULL,
	[NombrePrograma] [nvarchar](200) NOT NULL,
	[TipoRiesgo] [nvarchar](100) NOT NULL,
	[Objetivo] [nvarchar](max) NULL,
	[Poblacion_Objetivo] [nvarchar](max) NULL,
	[Responsable] [int] NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaRevision] [date] NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_programa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PROGRAMA_VIGILANCIA] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[PROGRAMA_VIGILANCIA]  WITH CHECK ADD FOREIGN KEY([Responsable])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[PROGRAMA_VIGILANCIA]  WITH CHECK ADD CHECK  (([Estado]='Cerrado' OR [Estado]='Suspendido' OR [Estado]='Activo'))
GO
