USE [SG_SST_AgenteInteligente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Reporte_Cumplimiento_Plan]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 4: Reporte de Cumplimiento del Plan de Trabajo
-- ============================================================
CREATE   PROCEDURE [dbo].[SP_Reporte_Cumplimiento_Plan]
    @IdPlan INT = NULL,
    @Anio INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @IdPlan IS NULL AND @Anio IS NOT NULL
    BEGIN
        SELECT @IdPlan = id_plan FROM PLAN_TRABAJO WHERE Anio = @Anio AND Estado = 'Vigente';
    END
    
    IF @IdPlan IS NULL
    BEGIN
        SELECT 'No se encontró plan de trabajo para el año especificado' AS Error;
        RETURN;
    END
    
    -- Resumen general
    SELECT 
        PT.Anio,
        PT.FechaElaboracion,
        PT.PresupuestoAsignado,
        PT.Estado AS EstadoPlan,
        EC.Nombre + ' ' + EC.Apellidos AS ElaboradoPor,
        EA.Nombre + ' ' + EA.Apellidos AS AprobadoPor,
        COUNT(T.id_tarea) AS Total_Tareas,
        SUM(CASE WHEN T.Estado = 'Cerrada' THEN 1 ELSE 0 END) AS Tareas_Completadas,
        SUM(CASE WHEN T.Estado = 'En Curso' THEN 1 ELSE 0 END) AS Tareas_EnCurso,
        SUM(CASE WHEN T.Estado = 'Pendiente' THEN 1 ELSE 0 END) AS Tareas_Pendientes,
        SUM(CASE WHEN T.Estado = 'Vencida' THEN 1 ELSE 0 END) AS Tareas_Vencidas,
        SUM(CASE WHEN T.Estado = 'Cancelada' THEN 1 ELSE 0 END) AS Tareas_Canceladas,
        CAST(SUM(CASE WHEN T.Estado = 'Cerrada' THEN 1 ELSE 0 END) * 100.0 / NULLIF(COUNT(T.id_tarea), 0) AS DECIMAL(5,2)) AS Porcentaje_Cumplimiento,
        CAST(AVG(T.AvancePorc) AS DECIMAL(5,2)) AS Avance_Promedio
    FROM PLAN_TRABAJO PT
    LEFT JOIN EMPLEADO EC ON PT.ElaboradoPor = EC.id_empleado
    LEFT JOIN EMPLEADO EA ON PT.AprobadoPor = EA.id_empleado
    LEFT JOIN TAREA T ON PT.id_plan = T.id_plan
    WHERE PT.id_plan = @IdPlan
    GROUP BY PT.Anio, PT.FechaElaboracion, PT.PresupuestoAsignado, PT.Estado, 
             EC.Nombre, EC.Apellidos, EA.Nombre, EA.Apellidos;
    
    -- Detalle por tipo de tarea
    SELECT 
        T.Tipo_Tarea,
        COUNT(*) AS Total,
        SUM(CASE WHEN T.Estado = 'Cerrada' THEN 1 ELSE 0 END) AS Completadas,
        SUM(CASE WHEN T.Estado = 'Vencida' THEN 1 ELSE 0 END) AS Vencidas,
        CAST(SUM(CASE WHEN T.Estado = 'Cerrada' THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) AS Porc_Cumplimiento
    FROM TAREA T
    WHERE T.id_plan = @IdPlan
    GROUP BY T.Tipo_Tarea
    ORDER BY Porc_Cumplimiento DESC;
    
    -- Detalle por responsable
    SELECT 
        E.Nombre + ' ' + E.Apellidos AS Responsable,
        E.Area,
        COUNT(*) AS Tareas_Asignadas,
        SUM(CASE WHEN T.Estado = 'Cerrada' THEN 1 ELSE 0 END) AS Tareas_Completadas,
        SUM(CASE WHEN T.Estado = 'Vencida' THEN 1 ELSE 0 END) AS Tareas_Vencidas,
        CAST(AVG(T.AvancePorc) AS DECIMAL(5,2)) AS Avance_Promedio
    FROM TAREA T
    JOIN EMPLEADO E ON T.id_empleado_responsable = E.id_empleado
    WHERE T.id_plan = @IdPlan
    GROUP BY E.Nombre, E.Apellidos, E.Area
    ORDER BY Tareas_Completadas DESC;
END
GO
