USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[REVISION_DIRECCION]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVISION_DIRECCION](
	[id_revision] [int] IDENTITY(1,1) NOT NULL,
	[Periodo] [nvarchar](50) NOT NULL,
	[FechaRevision] [date] NOT NULL,
	[Asistentes] [nvarchar](max) NULL,
	[ResultadosIndicadores] [nvarchar](max) NULL,
	[CumplimientoObjetivos] [nvarchar](max) NULL,
	[ResultadosAuditorias] [nvarchar](max) NULL,
	[AccidentalidadAnalisis] [nvarchar](max) NULL,
	[RecursosSGSST] [nvarchar](max) NULL,
	[ComunicacionesPartes] [nvarchar](max) NULL,
	[DecisionesAdoptadas] [nvarchar](max) NULL,
	[AccionesMejora] [nvarchar](max) NULL,
	[ResponsableElaboracion] [int] NULL,
	[AprobadoPor] [int] NULL,
	[RutaActa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_revision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[REVISION_DIRECCION]  WITH CHECK ADD FOREIGN KEY([AprobadoPor])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[REVISION_DIRECCION]  WITH CHECK ADD FOREIGN KEY([ResponsableElaboracion])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
