USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[EsRolSST] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([id_rol], [NombreRol], [Descripcion], [EsRolSST]) VALUES (1, N'CEO', N'Chief Executive Officer', 0)
INSERT [dbo].[ROL] ([id_rol], [NombreRol], [Descripcion], [EsRolSST]) VALUES (2, N'Coordinador SST', N'Responsable del Sistema de Gestión SST', 1)
INSERT [dbo].[ROL] ([id_rol], [NombreRol], [Descripcion], [EsRolSST]) VALUES (3, N'Brigadista', N'Miembro de Brigada de Emergencias', 1)
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT ((0)) FOR [EsRolSST]
GO
