USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[VERSION_DOCUMENTO]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERSION_DOCUMENTO](
	[id_version] [int] IDENTITY(1,1) NOT NULL,
	[id_documento] [int] NULL,
	[NumeroVersion] [int] NOT NULL,
	[FechaVersion] [date] NULL,
	[Cambios] [nvarchar](max) NULL,
	[AprobadoPor] [int] NULL,
	[RutaArchivoVersion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[VERSION_DOCUMENTO] ADD  DEFAULT (getdate()) FOR [FechaVersion]
GO
ALTER TABLE [dbo].[VERSION_DOCUMENTO]  WITH CHECK ADD FOREIGN KEY([AprobadoPor])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[VERSION_DOCUMENTO]  WITH CHECK ADD FOREIGN KEY([id_documento])
REFERENCES [dbo].[DOCUMENTO] ([id_documento])
GO
