USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[PLAN_ACCION_AUDITORIA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_ACCION_AUDITORIA](
	[id_plan_accion] [int] IDENTITY(1,1) NOT NULL,
	[id_hallazgo] [int] NULL,
	[AccionPropuesta] [nvarchar](max) NOT NULL,
	[ResponsableEjecucion] [int] NULL,
	[FechaCompromiso] [date] NOT NULL,
	[FechaCierre] [date] NULL,
	[RecursosNecesarios] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
	[VerificacionEficacia] [bit] NULL,
	[FechaVerificacion] [date] NULL,
	[ResponsableVerificacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plan_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLAN_ACCION_AUDITORIA] ADD  DEFAULT ('Abierta') FOR [Estado]
GO
ALTER TABLE [dbo].[PLAN_ACCION_AUDITORIA] ADD  DEFAULT ((0)) FOR [VerificacionEficacia]
GO
ALTER TABLE [dbo].[PLAN_ACCION_AUDITORIA]  WITH CHECK ADD FOREIGN KEY([id_hallazgo])
REFERENCES [dbo].[HALLAZGO_AUDITORIA] ([id_hallazgo])
GO
ALTER TABLE [dbo].[PLAN_ACCION_AUDITORIA]  WITH CHECK ADD FOREIGN KEY([ResponsableEjecucion])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[PLAN_ACCION_AUDITORIA]  WITH CHECK ADD FOREIGN KEY([ResponsableVerificacion])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[PLAN_ACCION_AUDITORIA]  WITH CHECK ADD CHECK  (([Estado]='Vencida' OR [Estado]='Cerrada' OR [Estado]='En Ejecución' OR [Estado]='Abierta'))
GO
