USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[INSPECCION]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSPECCION](
	[id_inspeccion] [int] IDENTITY(5000,1) NOT NULL,
	[Tipo_Inspeccion] [nvarchar](100) NOT NULL,
	[Area_Inspeccionada] [nvarchar](100) NOT NULL,
	[id_sede] [int] NULL,
	[Fecha_Inspeccion] [date] NOT NULL,
	[Fecha_Programada] [date] NULL,
	[id_empleado_inspector] [int] NULL,
	[HallazgosEncontrados] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
	[RequiereAcciones] [bit] NULL,
	[RutaReporte] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inspeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[INSPECCION] ADD  DEFAULT ('Realizada') FOR [Estado]
GO
ALTER TABLE [dbo].[INSPECCION] ADD  DEFAULT ((0)) FOR [RequiereAcciones]
GO
ALTER TABLE [dbo].[INSPECCION]  WITH CHECK ADD FOREIGN KEY([id_empleado_inspector])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[INSPECCION]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDE] ([id_sede])
GO
ALTER TABLE [dbo].[INSPECCION]  WITH CHECK ADD CHECK  (([Estado]='Cancelada' OR [Estado]='Realizada' OR [Estado]='Programada'))
GO
