USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[EVALUACION_CONTRATISTA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVALUACION_CONTRATISTA](
	[id_evaluacion] [int] IDENTITY(1,1) NOT NULL,
	[id_contratista] [int] NULL,
	[FechaEvaluacion] [date] NOT NULL,
	[TipoEvaluacion] [nvarchar](50) NOT NULL,
	[SG_SST_Implementado] [bit] NULL,
	[Afiliacion_ARL_Vigente] [bit] NULL,
	[Cumple_Normativa] [bit] NULL,
	[CalificacionTotal] [decimal](5, 2) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[ResponsableEvaluacion] [int] NULL,
	[Aprobado] [bit] NULL,
	[RutaSoportes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVALUACION_CONTRATISTA] ADD  DEFAULT ((0)) FOR [Aprobado]
GO
ALTER TABLE [dbo].[EVALUACION_CONTRATISTA]  WITH CHECK ADD FOREIGN KEY([id_contratista])
REFERENCES [dbo].[CONTRATISTA] ([id_contratista])
GO
ALTER TABLE [dbo].[EVALUACION_CONTRATISTA]  WITH CHECK ADD FOREIGN KEY([ResponsableEvaluacion])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[EVALUACION_CONTRATISTA]  WITH CHECK ADD CHECK  (([TipoEvaluacion]='Cierre' OR [TipoEvaluacion]='Seguimiento' OR [TipoEvaluacion]='Precontractual'))
GO
