USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[BRIGADA]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRIGADA](
	[id_brigada] [int] IDENTITY(1,1) NOT NULL,
	[NombreBrigada] [nvarchar](100) NOT NULL,
	[TipoBrigada] [nvarchar](100) NOT NULL,
	[id_sede] [int] NULL,
	[FechaConformacion] [date] NOT NULL,
	[Coordinador] [int] NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_brigada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BRIGADA] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[BRIGADA]  WITH CHECK ADD FOREIGN KEY([Coordinador])
REFERENCES [dbo].[EMPLEADO] ([id_empleado])
GO
ALTER TABLE [dbo].[BRIGADA]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [dbo].[SEDE] ([id_sede])
GO
ALTER TABLE [dbo].[BRIGADA]  WITH CHECK ADD CHECK  (([Estado]='Inactiva' OR [Estado]='Activa'))
GO
ALTER TABLE [dbo].[BRIGADA]  WITH CHECK ADD CHECK  (([TipoBrigada]='Integral' OR [TipoBrigada]='Rescate' OR [TipoBrigada]='Contra Incendios' OR [TipoBrigada]='Primeros Auxilios' OR [TipoBrigada]='Evacuación'))
GO
