USE [SG_SST_AgenteInteligente]
GO
/****** Object:  Table [dbo].[SEDE]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEDE](
	[id_sede] [int] IDENTITY(1,1) NOT NULL,
	[id_empresa] [int] NULL,
	[NombreSede] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](300) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Departamento] [nvarchar](100) NOT NULL,
	[TelefonoContacto] [nvarchar](20) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SEDE] ON 

INSERT [dbo].[SEDE] ([id_sede], [id_empresa], [NombreSede], [Direccion], [Ciudad], [Departamento], [TelefonoContacto], [Estado]) VALUES (1, 1, N'Sede Principal', N'Calle 100 #10-50 Oficina 401', N'Medellín', N'Antioquia', N'+57 604 1234567', 1)
SET IDENTITY_INSERT [dbo].[SEDE] OFF
GO
ALTER TABLE [dbo].[SEDE] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[SEDE]  WITH CHECK ADD FOREIGN KEY([id_empresa])
REFERENCES [dbo].[EMPRESA] ([id_empresa])
GO
