USE [SG_SST_AgenteInteligente]
GO
/****** Object:  View [dbo].[VW_Dashboard_Alertas]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- VISTA 2: Dashboard de Alertas Pendientes
-- ============================================================
CREATE   VIEW [dbo].[VW_Dashboard_Alertas] AS
SELECT 
    A.id_alerta,
    A.Tipo,
    A.Prioridad,
    A.Descripcion,
    A.FechaGeneracion,
    A.FechaEvento,
    DATEDIFF(DAY, GETDATE(), A.FechaEvento) AS DiasHastaEvento,
    A.Estado,
    A.ModuloOrigen,
    A.IdRelacionado,
    A.Enviada,
    A.IntentosEnvio,
    CASE A.ModuloOrigen
        WHEN 'EXAMEN_MEDICO' THEN CONCAT('EMO: ', EM.Tipo_Examen, ' - ', E1.Nombre)
        WHEN 'EXAMEN_MEDICO_VENCIDO' THEN CONCAT('EMO VENCIDO: ', EM.Tipo_Examen, ' - ', E1.Nombre)
        WHEN 'TAREA' THEN CONCAT('Tarea: ', T.Tipo_Tarea, ' - ', E2.Nombre)
        WHEN 'COMITE' THEN CONCAT('Comité: ', C.Tipo_Comite)
        WHEN 'EPP' THEN CONCAT('EPP: ', EP.Nombre_EPP)
        WHEN 'CAPACITACION' THEN CONCAT('Capacitación: ', CAP.Tema)
        WHEN 'EQUIPO' THEN CONCAT('Equipo: ', EQ.Nombre)
        WHEN 'EVENTO_ARL' THEN 'Accidente sin Reportar ARL'
        ELSE A.ModuloOrigen
    END AS DetalleOrigen
FROM ALERTA A
LEFT JOIN EXAMEN_MEDICO EM ON A.IdRelacionado = EM.id_examen AND A.ModuloOrigen LIKE 'EXAMEN_MEDICO%'
LEFT JOIN EMPLEADO E1 ON EM.id_empleado = E1.id_empleado
LEFT JOIN TAREA T ON A.IdRelacionado = T.id_tarea AND A.ModuloOrigen = 'TAREA'
LEFT JOIN EMPLEADO E2 ON T.id_empleado_responsable = E2.id_empleado
LEFT JOIN COMITE C ON A.IdRelacionado = C.id_comite AND A.ModuloOrigen = 'COMITE'
LEFT JOIN ENTREGA_EPP ENT ON A.IdRelacionado = ENT.id_entrega AND A.ModuloOrigen = 'EPP'
LEFT JOIN EPP EP ON ENT.id_epp = EP.id_epp
LEFT JOIN CAPACITACION CAP ON A.IdRelacionado = CAP.id_capacitacion AND A.ModuloOrigen = 'CAPACITACION'
LEFT JOIN EQUIPO EQ ON A.IdRelacionado = EQ.id_equipo AND A.ModuloOrigen = 'EQUIPO'
WHERE A.Estado IN ('Pendiente', 'Enviada');
GO
