USE [SG_SST_AgenteInteligente]
GO
/****** Object:  View [dbo].[VW_Tareas_Por_Responsable]    Script Date: 16/11/2025 8:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VISTA 4: Resumen de Tareas por Responsable
-- ============================================================
CREATE   VIEW [dbo].[VW_Tareas_Por_Responsable] AS
SELECT 
    E.id_empleado,
    E.Nombre + ' ' + E.Apellidos AS Responsable,
    E.Area,
    E.Correo,
    COUNT(*) AS Total_Tareas,
    SUM(CASE WHEN T.Estado = 'Pendiente' THEN 1 ELSE 0 END) AS Pendientes,
    SUM(CASE WHEN T.Estado = 'En Curso' THEN 1 ELSE 0 END) AS En_Curso,
    SUM(CASE WHEN T.Estado = 'Cerrada' THEN 1 ELSE 0 END) AS Cerradas,
    SUM(CASE WHEN T.Estado = 'Vencida' THEN 1 ELSE 0 END) AS Vencidas,
    AVG(T.AvancePorc) AS Avance_Promedio,
    MAX(T.Fecha_Actualizacion) AS Ultima_Actualizacion
FROM EMPLEADO E
INNER JOIN TAREA T ON E.id_empleado = T.id_empleado_responsable
WHERE E.Estado = 1
GROUP BY E.id_empleado, E.Nombre, E.Apellidos, E.Area, E.Correo;
GO
